.subtitleappearance-fullpreview {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
    transition: 0.2s;
}

.subtitleappearance-fullpreview-hide {
    opacity: 0;
}

.subtitleappearance-fullpreview-window {
    position: absolute;
    width: 100%;
    font-size: 170%;
    text-align: center;
}

.subtitleappearance-fullpreview-text {
    display: inline-block;
    max-width: 70%;
}

#subtiteColorsContainer {
    margin: .2em 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .1em;
}

input[name=subcolor] {
    /* We really want "display: none", for focusing purposes we need something
       rather more complex, so the focusManager doesn't skip over it. */
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    opacity: 0;
    appearance: none;
    border: none;
}

input[name=subcolor]+label {
    border: 3px solid #99999922;
}

input[name=subcolor]:checked + label {
    border: 3px solid #00a4dc;
}

.sublabel {
    display: inline-block;
    width: 2em;
    height: 2em;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

input[name=subcolor]:focus + label,
.sublabel:hover {
    transform: scale(1.35);
}

.sublabel span {
    display: block;
    width: 100%;
    height: 100%;
}

