// Default MUI breakpoints
// https://mui.com/material-ui/customization/breakpoints/#default-breakpoints
$mui-bp-sm: 600px;
$mui-bp-md: 900px;
$mui-bp-lg: 1200px;
$mui-bp-xl: 1536px;

$drawer-width: 240px;

// Fix dashboard pages layout to work with drawer
.dashboardDocument {
    .mainAnimatedPage:not(.metadataEditorPage) {
        @media all and (min-width: $mui-bp-md) {
            left: $drawer-width;
        }
    }

    .skinBody {
        position: unset !important;
    }

    // Fix the padding of dashboard pages
    .content-primary {
        padding-top: 3.25rem;
    }
    // Tabbed pages
    .withTabs .content-primary {
        padding-top: 6.5rem;

        @media all and (min-width: $mui-bp-lg) {
            padding-top: 3.25rem;
        }
    }
}
