.serverInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;

    > *:nth-child(odd) {
        flex: 1 0 20%;
        min-width: 7.5em;

        font-weight: bold;
    }

    > *:nth-child(even) {
        flex: 1 0 70%;
    }
}
