.cardImageContainer.lazy {
    opacity: 0;
}

.cardImageContainer.lazy.lazy-image-fadein {
    opacity: 1;
    transition: opacity 0.7s;
}

.cardImageContainer.lazy.lazy-image-fadein-fast {
    opacity: 1;
    transition: opacity 0.2s;
}
