@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.lazy-image-fadein {
    opacity: 1;
    animation: fadein 0.5s;
}

.lazy-image-fadein-fast {
    opacity: 1;
    animation: fadein 0.1s;
}

.lazy-hidden,
.lazy-hidden-children * {
    opacity: 0;
}

.blurhash-canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
