.cardImageContainer.lazy {
    opacity: 0;
}

.cardImageContainer.lazy.lazy-image-fadein {
    opacity: 1;
    transition: opacity 1s;
}

.cardImageContainer.lazy.lazy-image-fadein-fast {
    opacity: 1;
    transition: opacity 0.5s;
}

@keyframes lazy-image-fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
