.lazy-image-fadein {
    opacity: 1;
    transition: opacity 0.7s;
}

.lazy-image-fadein-fast {
    opacity: 1;
    transition: opacity 0.2s;
}

.lazy-hidden {
    opacity: 0;
}

.lazy-blurhash-fadein-fast {
    transition: opacity 0.2s;
}

.lazy-blurhash-fadein {
    transition: opacity 0.7s;
}

.blurhash-canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
}
