.emby-scroller-container {
    position: relative;
}

.emby-scroller {
    padding-left: 3.3%;
    padding-left: max(env(safe-area-inset-left), 3.3%);
    padding-right: 3.3%;
    padding-right: max(env(safe-area-inset-right), 3.3%);
}

.servers > .card > .cardBox {
    margin-left: 0.6em;
    margin-right: 0.6em;
}

/* align first card in scroller to heading */
.itemsContainer > .card > .cardBox {
    [dir="ltr"] & {
        margin-left: 0;
        margin-right: 1.2em;
    }

    [dir="rtl"] & {
        margin-right: 0;
        margin-left: 1.2em;
    }
}
