.emby-scroller-container {
    position: relative;
}

.emby-scroller {
    margin-left: 3.3%;
    margin-right: 3.3%;
}

/* align first card in scroller to heading */
.itemsContainer > .card > .cardBox {
    margin-left: 0;
    margin-right: 1.2em;
}

.servers > .card > .cardBox {
    margin-left: 0.6em;
    margin-right: 0.6em;
}

.layout-tv .emby-scroller,
.layout-mobile .emby-scroller {
    padding-left: 3.3%;
    padding-right: 3.3%;
    margin-left: 0;
    margin-right: 0;
}
