
.itemSelectionPanel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99998;
}

.selectionCommandsPanel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 0.5em;
    padding-left: max(env(safe-area-inset-left), 0.5em);
    padding-right: 0.5em;
    padding-right: max(env(safe-area-inset-right), 0.5em);
    padding-top: 1em;
    padding-top: max(env(safe-area-inset-top), 1em);
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    z-index: 99999;
}

.itemSelectionCount {
    vertical-align: middle;
    color: #fff !important;
    margin: 0;
}

.multiSelectCheckboxOutline {
    top: 0 !important;
    border-radius: 0 !important;
}

.withMultiSelect {
    position: relative;
}

.btnSelectionPanelOptions {
    margin-left: auto;
}
