<div class="subtitleSync">
    <div class="subtitleSyncContainer">
        <button type="button" is="paper-icon-button-light" class="subtitleSync-closeButton"><span class="material-icons close"></span></button>
        <div class="subtitleSyncTextField" contenteditable="true" spellcheck="false">0s</div>
        <div class="sliderContainer subtitleSyncSliderContainer">
            <input is="emby-slider" type="range" step="1" min="0" max="100" value="50" class="subtitleSyncSlider" data-slider-keep-progress="true" />
        </div>
    </div>
</div>
