<div class="subtitleSync">
    <div class="subtitleSyncContainer">
        <button type="button" is="paper-icon-button-light" class="subtitleSync-closeButton"><span class="material-icons close" aria-hidden="true"></span></button>
        <div class="subtitleSyncTextField" contenteditable="true" spellcheck="false">0s</div>
        <div class="sliderContainer subtitleSyncSliderContainer">
            <input is="emby-slider" type="range" step="0.1" min="-30" max="30" value="0" class="subtitleSyncSlider" data-slider-keep-progress="true" />
        </div>
        <div class="subtitleTimelineWrapper">
            <div class="subtitleSyncTimeline">
                <div class="timelineRuler">
                    <!-- Time markers will be dynamically generated -->
                </div>
                <div class="subtitleSyncTimelineContainer">
                    <div class="currentTimeIndicator"></div>
                    <div class="subtitleEventsContainer">
                        <!-- Subtitle events will be rendered here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
