$common-white: #fff;
$background-default: #101010;
$background-paper: #202020;
$primary-main: #00a4dc;
$primary-dark: #00729a;
$primary-light: #33b6e3;
$primary-hover: rgba(0, 164, 220, 0.2);
$primary-contrastText: rgba(0, 0, 0, 0.87);
$error-main: #c62828;
$error-dark: #8a1c1c;
$error-light: #d15353;
$error-contrastText: #fff;
$text-primary: #fff;
$text-secondary: rgba(255, 255, 255, 0.7);
$action-focus: rgba(255, 255, 255, 0.12);
$action-hover: rgba(255, 255, 255, 0.08);
$divider: rgba(255, 255, 255, 0.12);
