// Default MUI breakpoints
// https://mui.com/material-ui/customization/breakpoints/#default-breakpoints
$mui-bp-sm: 600px;
$mui-bp-md: 900px;
$mui-bp-lg: 1200px;
$mui-bp-xl: 1536px;

#reactRoot {
    height: 100%;
}

// Hide some items from the user "settings" page that are in the drawer
#myPreferencesMenuPage {
    .lnkQuickConnectPreferences,
    .adminSection,
    .userSection {
        display: none !important;
    }
}

// Fix the padding of some pages
.homePage.libraryPage.withTabs, // Home page
// Library pages excluding the item details page and tabbed pages
.libraryPage:not(
    .itemDetailPage
) {
    padding-top: 3.25rem !important;
}

// Fix backdrop position on mobile item details page
.layout-mobile .itemBackdrop {
    margin-top: 0 !important;
}
