.originalSubtitleFileLabel {
    margin-right: 1em;
}

.subtitleFeaturePillow {
    background: #00a4dc;
    color: #000;
    padding: 0.3em 1em;
    border-radius: 1000em;
    margin-right: 0.25em;
}
