.originalSubtitleFileLabel {
    margin-right: 1em;
}

.subtitleFeaturePillow {
    background: #3388cc;
    color: #fff;
    padding: .3em 1em;
    border-radius: 1000em;
    margin-right: 0.25em;
}
