<div id="indexPage" style="outline: none;" data-role="page" data-dom-cache="true"  class="page homePageContainer flex flex-column homePageContent flex-direction-column">

    <div class="userViewNames">
        <div class="scrollFrame scrollFrameX" style="white-space: nowrap;">
            <div class="scrollSlider viewsScrollSlider"></div>
        </div>
    </div>
    <div class="scrollFrame scrollFrameX itemScrollFrame noTopPadding flex " style="white-space: nowrap;">
        <div class="scrollSlider contentScrollSlider horizontalSectionsContainer flex-grow" ></div>
    </div>
    <div class="selectedItemInfo">
        <div class="selectedItemInfoInner"></div>
    </div>
</div>
