<div id="indexPage" style="outline: none;" data-role="page" data-dom-cache="true"  class="page homePageContainer flex flex-column homePageContent flex-direction-column">

    <div class="homeHorizontalTabContainer padded-left padded-right">
        <div class="userViewNames"></div>
    </div>
    <div class="scrollFrame scrollFrameX itemScrollFrame noTopPadding flex">
        <div class="scrollSlider contentScrollSlider horizontalSectionsContainer flex-grow" style="white-space: nowrap;"></div>
    </div>
    <div class="selectedItemInfo">
        <div class="selectedItemInfoInner"></div>
    </div>
</div>
