<div class="horizontalSection">
    <div class="sectionTitle">&nbsp;</div>
    <div class="cardColumn">
        <button type="button" class="card squareCard homeSquareCard albumsCard" data-type="all">
            <div class="cardBox">
                <div class="cardScalable">
                    <div class="cardPadder cardPadder-square"></div>
                    <div class="cardContent">
                        <div class="cardImageContainer coveredImage">
                            <span class="cardImageIcon material-icons album" aria-hidden="true"></span>
                            <div class="innerCardFooter">
                                <div class="cardText">${Albums}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </button>
        <button type="button" class="card squareCard homeSquareCard artistsCard" data-type="all">
            <div class="cardBox">
                <div class="cardScalable">
                    <div class="cardPadder cardPadder-square"></div>
                    <div class="cardContent">
                        <div class="cardImageContainer coveredImage">
                            <span class="cardImageIcon material-icons music_note" aria-hidden="true"></span>
                            <div class="innerCardFooter">
                                <div class="cardText">${Artists}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </button>
        <button type="button" class="card squareCard homeSquareCard songCard" data-type="all">
            <div class="cardBox">
                <div class="cardScalable">
                    <div class="cardPadder cardPadder-square"></div>
                    <div class="cardContent">
                        <div class="cardImageContainer coveredImage">
                            <span class="cardImageIcon material-icons library_music" aria-hidden="true"></span>
                            <div class="innerCardFooter">
                                <div class="cardText">${Songs}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </button>
    </div>
</div>
<div class="horizontalSection latestSection hide">
    <div class="sectionTitle">${HeaderLatestMusic}</div>
    <div is="emby-itemscontainer" class="itemsContainer"></div>
</div>
<div class="horizontalSection recentlyPlayedSection hide">
    <div class="sectionTitle">${HeaderRecentlyPlayed}</div>
    <div is="emby-itemscontainer" class="itemsContainer"></div>
</div>
<div class="horizontalSection frequentlyPlayedSection hide">
    <div class="sectionTitle">${HeaderFrequentlyPlayed}</div>
    <div is="emby-itemscontainer" class="itemsContainer"></div>
</div>
<div class="horizontalSection favoriteArtistsSection hide">
    <div class="sectionTitle">${HeaderFavoriteArtists}</div>
    <div is="emby-itemscontainer" class="itemsContainer"></div>
</div>
<div class="horizontalSection favoriteAlbumsSection hide">
    <div class="sectionTitle">${HeaderFavoriteAlbums}</div>
    <div is="emby-itemscontainer" class="itemsContainer"></div>
</div>
<div class="horizontalSection favoriteSongsSection hide">
    <div class="sectionTitle">${HeaderFavoriteSongs}</div>
    <div is="emby-itemscontainer" class="itemsContainer"></div>
</div>
