<div class="horizontalSection">
    <div class="sectionTitle">&nbsp;</div>
    <div class="cardColumn">
        <button type="button" class="card squareCard homeSquareCard guideCard" data-type="all">
            <div class="cardBox">
                <div class="cardScalable">
                    <div class="cardPadder cardPadder-square"></div>
                    <div class="cardContent">
                        <div class="cardImageContainer coveredImage">
                            <span class="cardImageIcon material-icons menu" aria-hidden="true"></span>
                            <div class="innerCardFooter">
                                <div class="cardText">${Guide}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </button>
        <button type="button" class="card squareCard homeSquareCard channelsLiveTvCard" data-type="all">
            <div class="cardBox">
                <div class="cardScalable">
                    <div class="cardPadder cardPadder-square"></div>
                    <div class="cardContent">
                        <div class="cardImageContainer coveredImage">
                            <span class="cardImageIcon material-icons ondemand_video" aria-hidden="true"></span>
                            <div class="innerCardFooter">
                                <div class="cardText">${Channels}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </button>
        <button type="button" class="card squareCard homeSquareCard recordingsCard" data-type="all">
            <div class="cardBox">
                <div class="cardScalable">
                    <div class="cardPadder cardPadder-square"></div>
                    <div class="cardContent">
                        <div class="cardImageContainer coveredImage">
                            <span class="cardImageIcon material-icons dvr" aria-hidden="true"></span>
                            <div class="innerCardFooter">
                                <div class="cardText">${Recordings}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </button>
    </div>
</div>
<div class="horizontalSection latestRecordingsSection hide">
    <div class="sectionTitle">${HeaderLatestRecordings}</div>
    <div is="emby-itemscontainer" class="itemsContainer"></div>
</div>
<div class="horizontalSection nowPlayingSection hide">
    <div class="sectionTitle">${NowPlaying}</div>
    <div is="emby-itemscontainer" class="itemsContainer"></div>
</div>
<div class="horizontalSection programGuideSection hide">
    <div class="sectionTitle">${Shows}</div>
    <div is="emby-itemscontainer" class="itemsContainer"></div>
</div>
<div class="horizontalSection upcomingProgramsSection hide">
    <div class="sectionTitle">${UpcomingPrograms}</div>
    <div is="emby-itemscontainer" class="itemsContainer"></div>
</div>
<div class="horizontalSection upcomingMoviesSection hide">
    <div class="sectionTitle">${UpcomingMovies}</div>
    <div is="emby-itemscontainer" class="itemsContainer"></div>
</div>
<div class="horizontalSection upcomingSportsSection hide">
    <div class="sectionTitle">${UpcomingSports}</div>
    <div is="emby-itemscontainer" class="itemsContainer"></div>
</div>
<div class="horizontalSection upcomingKidsSection hide">
    <div class="sectionTitle">${UpcomingForKids}</div>
    <div is="emby-itemscontainer" class="itemsContainer"></div>
</div>
