<div class="formDialogHeader">
    <button is="paper-icon-button-light" class="btnCancel autoSize" tabindex="-1" title="${ButtonBack}"><span class="material-icons arrow_back" aria-hidden="true"></span></button>
    <h3 class="formDialogHeaderTitle">
        ${Search}
    </h3>
</div>

<div class="formDialogContent smoothScrollY">
    <div class="dialogContentInner">
        <div class="flex align-items-center justify-content-center flex-wrap-wrap" style="margin: 2em 0;">

            <div style="margin: 0;">
                <div class="selectContainer">
                    <select id="selectImageProvider" name="selectImageProvider" is="emby-select" label="${LabelSource}">
                        <option value="">${All}</option>
                    </select>
                </div>
            </div>

            <div style="margin-left:1em;">
                <div class="selectContainer">
                    <select id="selectBrowsableImageType" name="selectBrowsableImageType" is="emby-select" label="${LabelType}">
                        <option value="Primary">${Primary}</option>
                        <option value="Art">${Art}</option>
                        <option value="Backdrop">${Backdrop}</option>
                        <option value="Banner">${Banner}</option>
                        <option value="Box">${Box}</option>
                        <option value="BoxRear">${BoxRear}</option>
                        <option value="Disc">${Disc}</option>
                        <option value="Logo">${Logo}</option>
                        <option value="Menu">${Menu}</option>
                        <option value="Thumb">${Thumb}</option>
                    </select>
                </div>
            </div>
            <div class="availableImagesPaging" style="margin-left:1em;"></div>
            <label style="margin: 0 0 0 1em;width:auto;">
                <input id="chkAllLanguages" type="checkbox" is="emby-checkbox" />
                <span>${AllLanguages}</span>
            </label>
            <label id="lblShowParentImages" class="hide" style="margin: 0 0 0 1em;width:auto;">
                <input id="chkShowParentImages" type="checkbox" is="emby-checkbox" />
                <span>${ShowParentImages}</span>
            </label>
        </div>

        <div class="availableImagesList vertical-wrap centered"></div>
    </div>
</div>
