@mixin background-cover($position) {
    background-position: $position;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin circle($size) {
    @include square($size);
    border-radius: 100%;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin square($size) {
    height: $size;
    width: $size;
}
