// This mixin is used to provide a fallback for `max()` function in older browsers
// (e.g. Chrome 76 that is found in devices like Samsung 2021 TVs). The mixin ensures
// a default value is applied to a property while using `max()` only if supported.
@mixin conditional-max($property, $default, $max-value) {
    & {
        #{$property}: $default;
    }

    @supports (width: max(1px, 1px)) {
        #{$property}: max($max-value, $default);
    }
}

/**
 * Helper mixin to add properties using css variables with fallback values.
 */
@mixin var($property, $variable, $default, $important: false) {
    #{$property}: $default if($important, !important, null);
    #{$property}: var($variable) if($important, !important, null);
}
