/* Critical CSS - Inline styles for initial load performance */

/* Extracted from site.scss and other critical styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.35;
}

body {
    overflow-x: hidden;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: transparent !important;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.splashLogo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    width: 30%;
    height: 30%;

    background-image: url("../node_modules/@jellyfin/ux-web/favicons/touchicon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    animation: fadein 0.5s;
}

/* Preload critical images */
.splashLogo::before {
    content: "";
    display: block;
    background-image: url("../node_modules/@jellyfin/ux-web/favicons/touchicon.png");
}

/* Critical layout styles */
#reactRoot {
    height: 100%;
}

/* Hide elements that should be hidden initially */
.hide {
    display: none !important;
}

/* Basic responsive design */
@media screen and (min-device-width: 992px) {
    .splashLogo {
        background-image: url("../node_modules/@jellyfin/ux-web/favicons/banner-light.png");
    }
}

/* Theme color for PWA */
.themeBg {
    background-color: #101010;
}

/* Prevent layout shift during loading */
.skinHeader,
.mainDrawerPanel,
.layoutManager {
    display: none;
}
