.dashboardColumn,
.dashboardSections {
    flex-direction: column;
}

.dashboardFooter {
    margin-top: 3.5em;
    text-align: center;
}

.dashboardFooter a {
    margin: 0 0.7em;
}

progress {
    appearance: none;
    margin: 0;
    background: #ccc !important;
    border-radius: 0.2em;
    border: none;
}

progress[role]::after {
    background-image: none;
}

progress::-webkit-progress-bar {
    background: #ccc;
}

progress::-moz-progress-bar {
    background-color: #00a4dc;
}

progress::-webkit-progress-value {
    background-color: #00a4dc;
}

progress[aria-valuenow]::before {
    border-radius: 0.4em;
    background-color: #00a4dc;
}

.localnav {
    margin-bottom: 2.2em !important;
}

@media all and (min-width: 50em) {
    .type-interior > div[data-role=content],
    .type-interior > .ui-panel-content-wrap > div[data-role=content] {
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
        overflow: hidden;
    }
}

.dashboardDocument .dashboardEntryHeaderButton,
.dashboardDocument .lnkManageServer {
    display: none !important;
}

.adminDrawerLogo {
    display: none;
}

.layout-mobile .adminDrawerLogo {
    padding: 1.5em 1em 1.2em;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1em;
    display: block;
}

.adminDrawerLogo img {
    height: 4em;
}

a[data-role=button] {
    background: #292929 !important;
    background-clip: padding-box;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    cursor: pointer !important;
    font-family: inherit !important;
    font-weight: 500 !important;
    margin: 0 0.25em !important;
    display: inline-block;
    padding: 0.8em 1em;
    text-align: center;
    text-decoration: none !important;
}

div[data-role=controlgroup] a[data-role=button] {
    display: inline-block !important;
    margin: 0 !important;
    box-shadow: none !important;
    border-radius: 0;
}

div[data-role=controlgroup] a[data-role=button]:first-child {
    border-bottom-left-radius: 0.3125em;
    border-top-left-radius: 0.3125em;
}

div[data-role=controlgroup] a[data-role=button]:last-child {
    border-bottom-right-radius: 0.3125em;
    border-top-right-radius: 0.3125em;
}

div[data-role=controlgroup] a[data-role=button] + a[data-role=button] {
    [dir="ltr"] & {
        border-left-width: 0 !important;
        margin: 0 0 0 -0.4em !important;
    }

    [dir="rtl"] & {
        border-right-width: 0 !important;
        margin: 0 -0.4em 0 0 !important;
    }
}

div[data-role=controlgroup] a.ui-btn-active {
    background: #00a4dc !important;
    color: #292929 !important;
}

.sessionAppInfo img {
    max-width: 2.5em;
    max-height: 2.5em;
    margin-right: 8px;
}

.appLinks img {
    height: 36px;
}

.wizardContent h2 img {
    height: 2.5em;
    vertical-align: middle;
    margin-right: 0.5em;
    position: relative;
    top: -0.3em;
}

.header .imageLink {
    display: inline-block;
}

.header .imageLink img {
    height: 2.1em;
    vertical-align: middle;
}

.content-primary {
    padding-top: 6em;
    padding-right: 1em;
    padding-left: 1em;
}

.withTabs .content-primary {
    padding-top: 9em !important;
}

@media all and (min-width: 40em) {
    .content-primary {
        padding-top: 4.6em;
    }

    .withTabs .content-primary {
        padding-top: 10em !important;
    }
}

@media all and (min-width: 84em) {
    .withTabs .content-primary {
        padding-top: 7em !important;
    }
}

.content-primary ul:first-child {
    margin-top: 0;
}

.dashboardSections {
    display: flex;
    flex-direction: column;
}

.dashboardColumn {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
}

.dashboardActionsContainer {
    margin: 1em -0.3em 0;
}

.sessionNowPlayingContent {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    border-radius: 0.2em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.activeSession:not(.playingSession) .sessionNowPlayingContent {
    display: none;
}

.dashboardSection {
    flex-shrink: 0;
    margin: 0 0 2em;
}

.dashboardSection h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.dashboardSection .sectionTitleTextButton > .material-icons.material-icons {
    font-size: 1.17em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0;
}

.activeRecordingItems > .card {
    width: 50%;
}

.localUsers .cardText-secondary {
    white-space: pre-wrap;
    height: 3em;
}

.customCssContainer textarea {
    resize: none;
}

@media all and (min-width: 70em) {
    .dashboardSections {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .dashboardColumn-2-60 {
        flex-grow: 2;
    }

    .dashboardSection {
        padding: 0 1.5em;
    }

    .activeRecordingItems > .card {
        width: 25%;
    }
}

.wizardContent {
    max-width: 62em;
    padding: 0.5em 2em 1em;
    margin: 0 auto;
    background: #fff;
}

.wizardNavigation {
    text-align: right;
}

.wizardContent form {
    max-width: 100%;
}

.scheduledTaskPaperIconItem {
    outline: 0 !important;
}

.activeSession {
    min-width: 20rem;
    width: 100% !important;
}

.activitylogUserPhoto {
    height: 1.71em;
    width: 1.71em;
    border-radius: 100%;
    margin-right: 0.5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media all and (min-width: 50em) {
    .activeSession {
        max-width: 25rem;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
    }
}

.sessionCardFooter {
    padding-top: 0.5em !important;
    padding-bottom: 1em !important;
    text-align: center;
    position: relative;
}

.sessionAppInfo {
    flex-grow: 1;
    padding: 1em;
    overflow: hidden;
}

.sessionCardButtons {
    min-height: 2.7em;
}

.sessionCardButton {
    margin: 0;
}

.sessionNowPlayingInnerContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.darkenContent {
    background: rgba(0, 0, 0, 0.7);
    color: #ddd;
}

.sessionAppName {
    vertical-align: top;
    max-width: 200px;
}

.sessionNowPlayingDetails {
    display: flex;
}

.sessionNowPlayingInfo {
    flex-grow: 1;
    text-overflow: ellipsis;
    padding: 1em;
}

.sessionNowPlayingName {
    font-size: 0.8em;
}

.sessionNowPlayingTime {
    flex-shrink: 0;
    align-self: flex-end;
    text-overflow: ellipsis;
    padding: 1em;
}

.playbackProgress,
.transcodingProgress {
    margin: 0;
    width: 100%;
    background: transparent !important;
}

.activeSession .backgroundProgress,
.activeSession .playbackProgress,
.activeSession .transcodingProgress {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;
}

.playbackProgress > div {
    z-index: 1000;
    background-color: #00a4dc;
}

.transcodingProgress > div {
    z-index: 10;
    background-color: #dd4919;
}

.backgroundProgress > div {
    background-color: #303030;
}

@media all and (max-width: 34.375em) {
    .sessionAppName {
        max-width: 160px;
    }
}

@media all and (max-width: 31.25em) {
    .sessionAppName {
        max-width: 150px;
    }
}

.disabledUser {
    filter: grayscale(100%);
}

.disabledUserBanner {
    margin: 0 0 2em;
}

.appLinks a {
    text-decoration: none !important;
}

.appLinks a + a {
    margin-left: 5px;
}

@keyframes rotating {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotatingCircle {
    animation: rotating 2s linear infinite;
}

.pluginPreviewImg {
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.ui-bar-a {
    text-align: center;
    padding: 0 20px;
}
