@import "@fontsource-variable/roboto-flex/standard.css";

@mixin font($weight: null, $size: null) {
    font-weight: $weight;
    font-size: $size;
}

html {
    @include font($size: 85%);
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "Roboto Flex Variable", "Roboto Flex", "Roboto", sans-serif;
}

h1 {
    @include font(400, 1.8em);
}

h2 {
    @include font(400, 1.5em);
}

h3 {
    @include font(400, 1.17em);
}

.textarea-mono {
    font-family:
        ui-monospace,
        Menlo,
        Monaco,
        "Cascadia Mono",
        "Segoe UI Mono",
        "Roboto Mono",
        "Oxygen Mono",
        "Ubuntu Mono",
        "Source Code Pro",
        "Fira Mono",
        "Droid Sans Mono",
        "Consolas",
        "Courier New",
        monospace !important;
}

.layout-tv {
    /* Per WebOS and Tizen guidelines, fonts must be 20px minimum.
       This takes the 16px baseline and multiplies it by 1.25 to get 20px. */
    font-size: 125%;
}

.layout-mobile {
    font-size: 90%;
}
