.chevron_right,
.chevron_left,
.arrow_back,
.arrow_forward,
.playlist_add,
.shuffle,
.input,
.live_tv,
.dvr,
.shopping_cart,
.vpn_key,
.volume_up,
.message {
    [dir='rtl'] & {
        transform: scale(-1, 1);
    }
}

@media all and (min-width: 40em) {
    .dashboardDocument .mainDrawer {
        left: unset !important;
        right: 0 !important;
    }

    .dashboardDocument .skinBody {
        left: 0 !important;
        right: 20em !important;
    }
}
