.scrollX {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.smoothScrollX {
    scroll-behavior: smooth;
}

.hiddenScrollX,
.layout-tv .scrollX {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hiddenScrollX-forced {
    overflow: -moz-scrollbars-none;
}

.hiddenScrollX::-webkit-scrollbar,
.layout-tv .scrollX::-webkit-scrollbar {
    height: 0 !important;
    display: none;
}

.scrollY {
    overflow-y: auto;
    overflow-x: hidden;
}

.smoothScrollY {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.hiddenScrollY,
.layout-tv .smoothScrollY {
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* Can't do this because it not only hides the scrollbar, but also prevents scrolling */

    /* overflow: -moz-scrollbars-none; */
}

.hiddenScrollY-forced {
    overflow: -moz-scrollbars-none;
}

.hiddenScrollY::-webkit-scrollbar,
.layout-tv .smoothScrollY::-webkit-scrollbar,
.layout-tv .scrollY::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}
