.mdl-radio {
    position: relative;
    line-height: 24px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
}

.radio-label-block {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.mdl-radio__button {
    line-height: 24px;
    position: absolute;

    /* 1px is for focusing purposes, so the focusManager doesn't skip over it */
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    opacity: 0;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

.mdl-radio__circles {
    position: relative;
    margin-right: 0.54em;
    width: 1.08em;
    height: 1.08em;
    border-radius: 50%;
    cursor: pointer;
}

.mdl-radio__circles svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: visible;
}

.mdl-radio__button:disabled + .mdl-radio__circles {
    cursor: auto;
}

.mdl-radio__button:disabled + .mdl-radio__circles .mdl-radio__outer-circle {
    color: rgba(0, 0, 0, 0.26);
}

.mdl-radio.show-focus .mdl-radio__button:focus + .mdl-radio__circles .mdl-radio__outer-circle {
    color: #00a4dc;
}

.mdl-radio__inner-circle {
    transition-duration: 0.2s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    transform-origin: 50% 50%;
}

.mdl-radio__button:checked + .mdl-radio__circles .mdl-radio__inner-circle {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.mdl-radio__button:disabled + .mdl-radio__circles .mdl-radio__inner-circle {
    color: rgba(0, 0, 0, 0.26);
}

.mdl-radio.show-focus .mdl-radio__button:focus + .mdl-radio__circles .mdl-radio__inner-circle {
    color: #00a4dc;
}

.mdl-radio__focus-circle {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    background: #00a4dc;
    opacity: 0.26;
    transition-duration: 0.2s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.mdl-radio.show-focus .mdl-radio__button:focus + .mdl-radio__circles .mdl-radio__focus-circle {
    -webkit-transform: scale(1.75);
    transform: scale(1.75);
}

.mdl-radio__label {
    cursor: pointer;
}

.mdl-radio__button:disabled + .mdl-radio__label {
    color: rgba(0, 0, 0, 0.26);
    cursor: auto;
}
