.actionSheet {
    display: flex;
    justify-content: center;
    padding: 0;
    border: none;
    max-height: 84%;
    border-radius: 0.1em !important;
}

.actionsheet-not-fullscreen {
    max-width: 90%;
    max-height: 90%;
}

.actionsheet-fullscreen {
    max-height: none;
    border-radius: 0 !important;
}

.actionSheetContent-centered {
    text-align: center;
    align-items: center;
}

.actionSheetContent {
    margin: 0 !important;
    padding: 0.4em 0 !important;
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
}

.actionSheetMenuItem {
    font-weight: inherit;
    box-shadow: none;
    flex-shrink: 0;
    border-radius: 0;
    margin: 0;
}

.actionSheetMenuItem:focus {
    transform: none !important;
}

.actionsheetListItemBody {
    [dir="ltr"] & {
        padding: 0.4em 1em 0.4em 0.6em !important;
    }

    [dir="rtl"] & {
        padding: 0.4em 0.6em 0.4em 1em !important;
    }
}

.actionSheetItemText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

.actionSheetItemAsideText {
    opacity: 0.7;
    font-size: 90%;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;

    [dir="ltr"] & {
        margin-left: 5em;
        margin-right: 0.5em;
    }

    [dir="rtl"] & {
        margin-right: 5em;
        margin-left: 0.5em;
    }
}

.actionSheetScroller {
    /* Override default style being applied by polymer */
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.actionSheetScroller-tv {
    max-height: 64%;
    max-width: 60%;
    width: auto;
}

.actionsheetDivider {
    height: 0.07em;
    margin: 0.25em 0;
    flex-shrink: 0;
}

.actionSheetTitle {
    margin: 0.6em 0 0.7em !important;
    padding: 0 0.75rem;
    flex-grow: 0;
}

.actionSheetText {
    margin-top: 0;
    padding: 0 0.75rem;
    flex-grow: 0;
}

.actionsheetMenuItemIcon {
    padding: 0 !important;

    [dir="ltr"] & {
        margin: 0 0.85em 0 0.45em !important;
    }

    [dir="rtl"] & {
        margin: 0 0.45em 0 0.85em !important;
    }
}

.actionsheet-xlargeFont {
    font-size: 112% !important;
}

.btnCloseActionSheet {
    position: fixed;
    top: 0.75em;

    [dir="ltr"] & {
        left: 0.5em;
    }

    [dir="rtl"] & {
        right: 0.5em;
    }
}
