.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink-zero {
    flex-shrink: 0;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.align-self-flex-end {
    align-self: flex-end;
}
