@import "../../styles/noto-sans/index.scss";

@mixin font($weight: null, $size: null) {
    font-family: "Noto Sans", "Noto Sans HK", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC", sans-serif;
    font-weight: $weight;
    font-size: $size;
}

html {
    @include font($size: 93%);
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1 {
    @include font(400, 1.8em);
}

h2 {
    @include font(400, 1.5em);
}

h3 {
    @include font(400, 1.17em);
}

.layout-tv {
    /* Per WebOS and Tizen guidelines, fonts must be 20px minimum.
       This takes the 16px baseline and multiplies it by 1.25 to get 20px. */
    font-size: 125%;
}

.layout-mobile {
    font-size: 90%;
}
