@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/notosans/woff2/cyrillic-ext.woff2) format('woff2'), url(../fonts/notosans/woff/cyrillic-ext.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/notosans/woff2/cyrillic.woff2) format('woff2'), url(../fonts/notosans/woff/cyrillic.woff) format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* devanagari */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/notosans/woff2/devanagari.woff2) format('woff2'), url(../fonts/notosans/woff/devanagari.woff) format('woff');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* greek-ext */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/notosans/woff2/greek-ext.woff2) format('woff2'), url(../fonts/notosans/woff/greek-ext.woff) format('woff');
    unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/notosans/woff2/greek.woff2) format('woff2'), url(../fonts/notosans/woff/greek.woff) format('woff');
    unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/notosans/woff2/vietnamese.woff2) format('woff2'), url(../fonts/notosans/woff/vietnamese.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/notosans/woff2/latin-ext.woff2) format('woff2'), url(../fonts/notosans/woff/latin-ext.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/notosans/woff2/latin.woff2) format('woff2'), url(../fonts/notosans/woff/latin.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ==================== FONT-WEIGHT 700 STYLES =======================================*/

/* cyrillic-ext */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/notosans/woff2/cyrillic-ext_700.woff2) format('woff2'), url(../fonts/notosans/woff/cyrillic-ext_700.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/notosans/woff2/cyrillic_700.woff2) format('woff2'), url(../fonts/notosans/woff/cyrillic_700.woff) format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* devanagari */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/notosans/woff2/devanagari_700.woff2) format('woff2'), url(../fonts/notosans/woff/devanagari_700.woff) format('woff');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* greek-ext */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/notosans/woff2/greek-ext_700.woff2) format('woff2'), url(../fonts/notosans/woff/greek-ext_700.woff) format('woff');
    unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/notosans/woff2/greek_700.woff2) format('woff2'), url(../fonts/notosans/woff/greek_700.woff) format('woff');
    unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/notosans/woff2/vietnamese_700.woff2) format('woff2'), url(../fonts/notosans/woff/vietnamese_700.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/notosans/woff2/latin-ext_700.woff2) format('woff2'), url(../fonts/notosans/woff/latin-ext_700.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/notosans/woff2/latin_700.woff2) format('woff2'), url(../fonts/notosans/woff/latin_700.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ====================================================EXTRA NOTO SANS TYPEFACES============================================ */

/* ========================= NOTO SANS HK TYPEFACES================= */

@import url(noto-css/HK.css);
/* ========================= NOTO SANS JP TYPEFACES ======================= */

@import url(noto-css/JP.css);
/* ========================= NOTO SANS KR TYPEFACES ================= */

@import url(noto-css/KR.css);
/* ======================= NOTO SANS SC TYPEFACES ================= */

@import url(noto-css/SC.css);
/* ======================= NOTO SANS TC TYPEFACES ================= */

@import url(noto-css/TC.css);
/* ============================= ARABIC TYPEFACES ============================================= */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/notosans/woff2/AR/NotoNaskhArabic-Regular.woff2) format('woff2'), url(../fonts/notosans/woff/AR/NotoNaskhArabic-Regular.woff) format('woff');
    unicode-range: U+0600–06FF, U+0750–077F, U+08A0–08FF;
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/notosans/woff2/AR/bold/NotoNaskhArabic-Bold.woff2) format('woff2'), url(../fonts/notosans/woff/AR/bold/NotoNaskhArabic-Bold.woff) format('woff');
    unicode-range: U+0600–06FF, U+0750–077F, U+08A0–08FF;
}

/* ============================= HEBREW TYPEFACES ============================================= */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/notosans/woff2/HE/NotoSansHebrew-Regular.woff2) format('woff2'), url(../fonts/notosans/woff/HE/NotoSansHebrew-Regular.woff) format('woff');
    unicode-range: U+0590-05FF, U+FB1D-FB4F;
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/notosans/woff2/HE/bold/NotoSansHebrew-Bold.woff2) format('woff2'), url(../fonts/notosans/woff/HE/bold/NotoSansHebrew-Bold.woff) format('woff');
    unicode-range: U+0590-05FF, U+FB1D-FB4F;
}
