@mixin font($weight: null, $size: null) {
    font-family: "Noto Sans", sans-serif;
    font-weight: $weight;
    font-size: $size;
}

html {
    @include font;
    font-size: 93%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1 {
    @include font(400, 1.8em);
}

h2 {
    @include font(400, 1.5em);
}

h3 {
    @include font(400, 1.17em);
}

.layout-tv {
    font-size: 130%;
}

.layout-mobile {
    font-size: 90%;
}
