.guideVerticalScroller {
    padding-bottom: 15em;
}

#guideTab {
    @media all and (min-width: 62.5em) {
        padding-left: 0.5em;
    }
}

// FIXME: background sizing for cards really needs revisited, but these are particularly terrible
#channelsTab .cardImageContainer {
    background-size: contain;
}
