body,
html {
    margin: 0;
    padding: 0;
    height: 100%
}

.backgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    contain: strict
}

html {
    line-height: 1.35
}

.layout-mobile,
.layout-tv {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body {
    overflow-x: hidden;
    background-color: transparent !important;
    -webkit-font-smoothing: antialiased
}

.mainAnimatedPage {
    contain: style size !important
}

.pageContainer {
    overflow-x: visible !important
}

.bodyWithPopupOpen {
    overflow-y: hidden !important
}

div[data-role=page] {
    outline: 0
}

.pageTitle {
    margin-top: 0;
    font-family: inherit
}

.fieldDescription {
    padding-left: .15em;
    font-weight: 400;
    white-space: normal !important
}

.fieldDescription+.fieldDescription {
    margin-top: .3em
}

.content-primary,
.padded-bottom-page,
.page,
.pageWithAbsoluteTabs .pageTabContent {
    /* provides room for the music controls */
    padding-bottom: 5em !important;
}

@media all and (min-width:50em) {
    .readOnlyContent,
    form {
        max-width: 54em
    }
}

.headerHelpButton {
    margin-left: 1.25em !important;
    padding-bottom: .4em !important;
    padding-top: .4em !important
}

.mediaInfoContent {
    margin-left: auto;
    margin-right: auto;
    width: 85%
}
