/* Import the base theme */
@use '../base';

/* Card background color variants */
.defaultCardBackground1 {
    background-color: #00455c;
}

.defaultCardBackground2 {
    background-color: #44bae1;
}

.defaultCardBackground3 {
    background-color: #00a4db;
}

.defaultCardBackground4 {
    background-color: #1c4c5c;
}

.defaultCardBackground5 {
    background-color: #007ea8;
}

/* Detail ribbon on item details pages */
.detailRibbon {
    background: rgba(32, 32, 32, 0.8);
    background: rgba(var(--jf-palette-background-paperChannel) / 0.8);

    .layout-tv & {
        background: none;
    }
}
