$black_101010: #101010;
$black_111: #111111;
$black_1c1c1c: #1c1c1c;
$black_1e1e1e: #1e1e1e;
$black_202020: #202020;
$black_222: #222222;
$black_242424: #242424;
$black_252528: #252528;
$black_292929: #292929;
$darkgray_999: #999999;
$darkslateblue_3949ab: #3949ab;
$darkslategray_303030: #303030;
$darkslategray_333: #333333;
$darkslategray_383838: #383838;
$darkslategray_3b3b3b: #3b3b3b;
$darkslategray_444: #444444;
$deepskyblue_00a4dc: #00a4dc;
$deepskyblue_039be5: #039be5;
$deepskyblue_0cb0e8: #0cb0e8;
$dimgray_555: #555555;
$dodgerblue_4285f4: #4285f4;
$firebrick_c33: #cc3333;
$firebrick_cb272a: #cb272a;
$forestgreen_43a047: #43a047;
$gainsboro_ddd: #dddddd;
$goldenrod_d2b019: #d2b019;
$gray_888: #888888;
$lightgray_ccc: #cccccc;
$mediumaquamarine_5ccea9: #5ccea9;
$red_f70000: #f70000;
$silver_bbb: #bbbbbb;
$slateblue_5e35b1: #5e35b1;
$steelblue_338abb: #338abb;
$steelblue_6b689d: #6b689d;
$tomato_dd452b: #dd452b;
$white_fff: #ffffff;

* {
  scrollbar-color: $darkslategray_3b3b3b #202020;
  scrollbar-width: thin;
}

.skinHeader {
  color: rgba(255, 255, 255, .8);

  &.semiTransparent {
    -webkit-backdrop-filter: none !important;
            backdrop-filter: none !important;
    background-color: rgba(0, 0, 0, .4);
  }
}

html {
  background-color: $black_101010;
  color: rgba(255, 255, 255, .8);
}

.wizardStartForm {
  background-color: $black_101010;
}

.ui-corner-all {
  background-color: $black_101010;
}

.ui-shadow {
  background-color: $black_101010;
}

.emby-collapsible-button {
  border-color: rgba(255, 255, 255, .135);
}

.skinHeader-withBackground {
  background-color: $black_202020;
}

.pageTitleWithDefaultLogo {
  background-image: url(../../assets/img/banner-light.png);
}

.backgroundContainer {
  background-color: $black_101010;

  &.withBackdrop {
    background-color: rgba(0, 0, 0, .86);
  }
}

.dialog {
  background-color: $black_101010;
}

.nowPlayingPlaylist {
  background-color: $black_101010;
}

.nowPlayingContextMenu {
  background-color: $black_101010;
}

.paper-icon-button-light {
  &:hover {
    &:not(:disabled) {
      background-color: rgba(0, 164, 220, .2);
      color: $deepskyblue_00a4dc;
    }
  }

  &.show-focus {
    &:focus {
      color: $deepskyblue_00a4dc;
    }
  }
}

.fab {
  background: $darkslategray_303030;
  color: rgba(255, 255, 255, .87);

  &:focus {
    background: $darkslategray_383838;
  }
}

.raised {
  background: $darkslategray_303030;
  color: rgba(255, 255, 255, .87);

  &:focus {
    background: $darkslategray_383838;
  }
}

.button-submit {
  background: $deepskyblue_00a4dc;
  color: $white_fff;

  &:focus {
    background: $deepskyblue_0cb0e8;
    color: $white_fff;
  }
}

.button-delete {
  background: $red_f70000;
  color: rgba(255, 255, 255, .87);
}

.checkboxLabel {
  color: inherit;
}

.checkboxListLabel {
  color: rgba(255, 255, 255, .7);
}

.inputLabel {
  color: rgba(255, 255, 255, .7);
}

.inputLabelUnfocused {
  color: rgba(255, 255, 255, .7);
}

.paperListLabel {
  color: rgba(255, 255, 255, .7);
}

.textareaLabelUnfocused {
  color: rgba(255, 255, 255, .7);
}

.inputLabelFocused {
  color: $deepskyblue_00a4dc;
}

.selectLabelFocused {
  color: $deepskyblue_00a4dc;
}

.textareaLabelFocused {
  color: $deepskyblue_00a4dc;
}

.checkboxOutline {
  border-color: currentColor;
}

.collapseContent {
  background-color: $black_242424;
}

.formDialogFooter {
  &:not(.formDialogFooter-clear) {
    background-color: $black_242424;
  }
}

.formDialogHeader {
  &:not(.formDialogHeader-clear) {
    background-color: $black_242424;
  }
}

.paperList {
  background-color: $black_242424;
}

.visualCardBox {
  background-color: $black_242424;
}

.defaultCardBackground1 {
  background-color: $goldenrod_d2b019;
}

.defaultCardBackground2 {
  background-color: $steelblue_338abb;
}

.defaultCardBackground3 {
  background-color: $steelblue_6b689d;
}

.defaultCardBackground4 {
  background-color: $tomato_dd452b;
}

.defaultCardBackground5 {
  background-color: $mediumaquamarine_5ccea9;
}

.cardText-secondary {
  color: rgba(255, 255, 255, .5);
}

.fieldDescription {
  color: rgba(255, 255, 255, .5);
}

.guide-programNameCaret {
  color: rgba(255, 255, 255, .5);
}

.listItem {
  .secondary {
    color: rgba(255, 255, 255, .5);
  }

  &:focus {
    background: $darkslategray_333;
  }
}

.nowPlayingBarSecondaryText {
  color: rgba(255, 255, 255, .5);
}

.programSecondaryTitle {
  color: rgba(255, 255, 255, .5);
}

.secondaryText {
  color: rgba(255, 255, 255, .5);
}

.actionsheetDivider {
  background: rgba(255, 255, 255, .14);
}

.cardFooter-vibrant {
  .cardText-secondary {
    color: inherit;
    opacity: .5;
  }
}

.actionSheetMenuItem {
  &:hover {
    background-color: $black_242424;
  }
}

.toast {
  background: $darkslategray_303030;
  color: rgba(255, 255, 255, .87);
}

.appfooter {
  background: $black_202020;
  color: rgba(255, 255, 255, .78);
}

.playlistSectionButton {
  background: $black_202020;
  color: rgba(255, 255, 255, .78);
}

.itemSelectionPanel {
  border: 1px solid $deepskyblue_00a4dc;
}

.selectionCommandsPanel {
  background: $deepskyblue_00a4dc;
  color: $white_fff;
}

.upNextDialog-countdownText {
  color: $deepskyblue_00a4dc;
}

.alphaPickerButton {
  background-color: transparent;
  color: rgba(255, 255, 255, .5);
}

.alphaPickerButton-selected {
  color: $white_fff;
}

.alphaPickerButton-tv {
  &:focus {
    background-color: $deepskyblue_00a4dc;
    color: $white_fff !important;
  }
}

.detailTableBodyRow-shaded {
  &:nth-child(even) {
    background: rgba(30, 30, 30, .9);
  }
}

.detailSticky {
  background: rgba(32, 32, 32, .8);
}

.noBackdrop {
  .detailSticky {
    background: $black_202020;
  }
}

.listItem-border {
  border-color: rgba(34, 34, 34, .9) !important;
}

.progressring-spiner {
  border-color: $deepskyblue_00a4dc;
}

.button-flat {
  &:hover {
    color: $deepskyblue_00a4dc;
  }
}

.button-link {
  color: $deepskyblue_00a4dc;
}

.mediaInfoText {
  background: rgba(170, 170, 190, .2);
  color: $gainsboro_ddd;
}

.mediaInfoTimerIcon {
  color: $firebrick_cb272a;
}

.starIcon {
  color: $firebrick_cb272a;
}

.emby-input {
  color: inherit;
  background: $black_292929;
  border: .16em solid $black_292929;
  -webkit-border-radius: .2em;
          border-radius: .2em;

  &:focus {
    border-color: $deepskyblue_00a4dc;
  }
}

.emby-textarea {
  color: inherit;
  background: $black_292929;
  border: .16em solid $black_292929;
  -webkit-border-radius: .2em;
          border-radius: .2em;

  &:focus {
    border-color: $deepskyblue_00a4dc;
  }
}

.emby-select-withcolor {
  color: inherit;
  background: $black_292929;
  border: .07em solid $black_292929;

  >option {
    background: $black_222;
    color: inherit;
  }

  &:focus {
    border-color: $deepskyblue_00a4dc !important;
  }
}

.emby-select-tv-withcolor {
  &:focus {
    background-color: $deepskyblue_00a4dc !important;
    color: $white_fff !important;
  }
}

.emby-checkbox {
  &:checked {
    +span {
      +.checkboxOutline {
        background-color: $deepskyblue_00a4dc;
        border-color: $deepskyblue_00a4dc;
      }
    }
  }

  &:focus {
    +span {
      +.checkboxOutline {
        border-color: $white_fff;
      }
    }

    &:not(:checked) {
      +span {
        +.checkboxOutline {
          border-color: $deepskyblue_00a4dc;
        }
      }
    }
  }
}

.itemProgressBarForeground {
  background-color: $deepskyblue_00a4dc;
}

.itemProgressBarForeground-recording {
  background-color: $firebrick_cb272a;
}

.countIndicator {
  background: $deepskyblue_00a4dc;
}

.fullSyncIndicator {
  background: $deepskyblue_00a4dc;
  color: $white_fff;
}

.playedIndicator {
  background: $deepskyblue_00a4dc;
}

.mainDrawer {
  background-color: $black_101010;
}

.navMenuOption {
  &:hover {
    background: $black_252528;
  }
}

.navMenuOption-selected {
  background: $deepskyblue_00a4dc !important;
  color: $white_fff;
}

.emby-button {
  &.show-focus {
    &:focus {
      background: $deepskyblue_00a4dc;
      color: $white_fff;
    }
  }
}

.emby-tab-button {
  color: $darkgray_999;

  &.show-focus {
    &:focus {
      color: $deepskyblue_00a4dc;
    }
  }

  &:hover {
    color: $deepskyblue_00a4dc;
  }
}

.emby-tab-button-active {
  color: $white_fff;
}

.channelPrograms {
  border-color: rgba(255, 255, 255, .05);
}

.guide-channelHeaderCell {
  border-color: rgba(255, 255, 255, .05);

  &:focus {
    background-color: $deepskyblue_00a4dc !important;
    color: $white_fff !important;
  }
}

.programCell {
  border-color: rgba(255, 255, 255, .05);

  &:focus {
    background-color: $deepskyblue_00a4dc !important;
    color: $white_fff !important;
  }
}

.programCell-sports {
  background: $darkslateblue_3949ab !important;
}

.programCell-movie {
  background: $slateblue_5e35b1 !important;
}

.programCell-kids {
  background: $deepskyblue_039be5 !important;
}

.programCell-news {
  background: $forestgreen_43a047 !important;
}

.programCell-active {
  background: $black_1e1e1e !important;
}

.guide-programTextIcon {
  background: $dimgray_555;
  color: $black_1e1e1e;
}

.guide-headerTimeslots {
  color: inherit;
}

.guide-date-tab-button {
  color: rgba(255, 255, 255, .3);

  &.emby-tab-button-active {
    color: $deepskyblue_00a4dc;
  }

  &:focus {
    color: $deepskyblue_00a4dc;
  }

  &.show-focus {
    &:focus {
      background-color: $deepskyblue_00a4dc;
      color: $white_fff;
    }
  }
}

.infoBanner {
  -webkit-border-radius: .25em;
  background: $black_111;
          border-radius: .25em;
  color: $gainsboro_ddd;
  padding: 1em;
}

.ratingbutton-icon-withrating {
  color: $firebrick_c33;
}

.downloadbutton-icon-complete {
  color: $dodgerblue_4285f4;
}

.downloadbutton-icon-on {
  color: $dodgerblue_4285f4;
}

.playstatebutton-icon-played {
  color: $firebrick_c33;
}

.repeatButton-active {
  color: $dodgerblue_4285f4;
}

.card {
  &:focus {
    .cardBox {
      &.visualCardBox {
        border-color: $deepskyblue_00a4dc !important;
      }

      &:not(.visualCardBox) {
        .cardScalable {
          border-color: $deepskyblue_00a4dc !important;
        }
      }
    }
  }
}

 {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  }

  &::-webkit-scrollbar-track-piece {
    background-color: $darkslategray_3b3b3b;
  }

  &::-webkit-scrollbar-thumb {
    &:horizontal {
      -webkit-border-radius: 2px;
      background: center no-repeat $gray_888;
              border-radius: 2px;
    }

    &:vertical {
      -webkit-border-radius: 2px;
      background: center no-repeat $gray_888;
              border-radius: 2px;
    }
  }
}

.layout-desktop {
  &::-webkit-scrollbar {
    width: .4em;
  }
}

.timeslotHeaders-desktop {
  &::-webkit-scrollbar {
    height: .7em;
  }
}

.metadataSidebarIcon {
  color: $deepskyblue_00a4dc;
}
