#! /usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@

# disable "make check"
override_dh_auto_test:

# disable stripping debugging symbols
override_dh_clistrip:

override_dh_auto_build:
	npm ci --no-audit --unsafe-perm
	mv $(CURDIR)/dist $(CURDIR)/web

override_dh_auto_clean:
	test -d $(CURDIR)/dist && rm -rf '$(CURDIR)/dist' || true
	test -d $(CURDIR)/web && rm -rf '$(CURDIR)/web' || true
	test -d $(CURDIR)/node_modules && rm -rf '$(CURDIR)/node_modules' || true
