.playerStats {
    background: rgba(28, 28, 28, 0.8);
    border-radius: 0.3em;
    color: #fff;
    inset-inline-start: 1.5em;
    position: absolute;
    top: 5em;
}

.playerStats-tv {
    top: 4em;
}

.playerStats-content {
    position: relative;
    font-size: 84%;
}

.playerStats-content-tv {
    font-size: 60%;
}

.playerStats-closeButton {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    color: #ccc;
    z-index: 1;
}

.playerStats-stats {
    display: flex;
    flex-direction: column;
    padding-block: 0 1em;
    padding-inline: 1em 3em;
    max-width: 50em;
    overflow: hidden;
}

.playerStats-stat {
    display: flex;
    margin-inline-start: 1em;
}

.playerStats-stat-label {
    font-weight: 500;
    margin-block: 0;
    margin-inline: 0 0.5em;
}

.playerStats-stat-header {
    margin-block: 1em 0;
    margin-inline: 0 1em;
}

.playerStats-stat-value {
    color: #ddd;
}
