.dialogHeader {
    [dir="ltr"] & {
        margin-left: auto;
    }

    [dir="rtl"] & {
        margin-right: auto;
    }
}

.metadataFormFields .marginStart {
    [dir="ltr"] & {
        margin-left: 1em;
    }

    [dir="rtl"] & {
        margin-right: 1em;
    }
}

.personSuggestionsContainer {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
    .personSuggestionItem {
        transition: background-color 0.2s;

        &:hover {
            background-color: var(--theme-primary-color-opacity, rgba(0, 164, 220, 0.2)) !important;
        }

        &:last-child {
            border-bottom: none !important;
        }
    }
}
