<div class="aspectRatioScale">
    <div class="aspectRatioScaleContainer">
        <button type="button" is="paper-icon-button-light" class="aspectRatioScale-closeButton"><span class="material-icons close" aria-hidden="true"></span></button>
        <div class="aspectRatioScaleTextField">1.00</div>
        <div class="sliderContainer aspectRatioScaleSliderContainer">
            <input is="emby-slider" type="range" step="0.05" min="0.5" max="1.5" value="1" class="aspectRatioScaleSlider" data-slider-keep-progress="true" />
        </div>
    </div>
</div>
