.searchFieldsInner {
    max-width: 60em;
    margin: 0 auto;
}

.searchfields-icon {
    margin-bottom: 0.1em;
    margin-right: 0.25em;
    font-size: 2em;
    align-self: flex-end;
}

.sorry-text {
    font-size: 2em;
    text-align: center;
    font-family: inherit;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
