* {
    scrollbar-color: #3b3b3b #202020;
}

html {
    color: #eee;
    color: rgba(255, 255, 255, 0.9);
    background-color: #0f3562;
}

.wizardStartForm,
.ui-corner-all,
.ui-shadow {
    background-color: #0c2450;
}

.emby-collapsible-button {
    border-color: #383838;
    border-color: rgba(255, 255, 255, 0.135);
}

.skinHeader {
    color: #ccc;
    color: rgba(255, 255, 255, 0.78);
}

.formDialogHeader:not(.formDialogHeader-clear),
.skinHeader-withBackground {
    background: linear-gradient(to bottom, #0c2450, #081b3b);
    background-color: #0c2450;
}

.skinHeader.semiTransparent {
    backdrop-filter: none !important;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    background-color: rgba(0, 0, 0, 0.3);
}

.layout-tv .skinHeader.semiTransparent {
    background: none;
}

.pageTitleWithDefaultLogo {
    background-image: url(@jellyfin/ux-web/banner-light.png);
}

.layout-tv .pageTitleWithDefaultLogo {
    background-image: url(@jellyfin/ux-web/icon-transparent.png);
}

.backgroundContainer,
.dialog,
.nowPlayingPlaylist,
.nowPlayingContextMenu {
    background: linear-gradient(to bottom, #0f3562, #1162a4, #03215f);
    background-color: #0f3562;
}

.backgroundContainer.withBackdrop {
    background: rgba(17, 98, 164, 0.9);
}

@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: #00a4dc;
        background-color: rgba(0, 164, 220, 0.2);
    }
}

.paper-icon-button-light:active:not(:disabled) {
    color: #00a4dc;
    background-color: rgba(0, 164, 220, 0.2);
}

.paper-icon-button-light.show-focus:focus {
    color: #00a4dc;
}

.fab,
.raised {
    background: #082845;
    color: #fff;
}

.fab:focus,
.raised:focus {
    background: #143451;
}

a[data-role=button] {
    background: #082845 !important;
}

.button-submit {
    background: #00a4dc;
    color: #fff;
}

.button-submit:focus {
    background: #0cb0e8;
    color: #fff;
}

.button-delete {
    background: rgb(247, 0, 0);
    color: rgba(255, 255, 255, 0.87);
}

.checkboxLabel {
    color: inherit;
}

.checkboxListLabel,
.inputLabel,
.inputLabelUnfocused,
.paperListLabel,
.textareaLabelUnfocused {
    color: #bbb;
    color: rgba(255, 255, 255, 0.7);
}

.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: #00a4dc;
}

.checkboxOutline {
    border-color: currentColor;
}

.collapseContent,
.paperList,
.visualCardBox {
    background-color: #0f3562;
}

.defaultCardBackground1 {
    background-color: #d2b019;
}

.defaultCardBackground2 {
    background-color: #338abb;
}

.defaultCardBackground3 {
    background-color: #6b689d;
}

.defaultCardBackground4 {
    background-color: #dd452b;
}

.defaultCardBackground5 {
    background-color: #5ccea9;
}

.cardText-secondary,
.fieldDescription,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
    color: #999;
    color: rgba(255, 255, 255, 0.5);
}

.actionsheetDivider {
    background: #ddd;
    background: rgba(255, 255, 255, 0.14);
}

.cardFooter-vibrant .cardText-secondary {
    color: inherit;
    opacity: 0.5;
}

.toast {
    background: #081b3b;
    color: #fff;
    color: rgba(255, 255, 255, 0.87);
}

.appfooter,
.formDialogFooter:not(.formDialogFooter-clear),
.playlistSectionButton {
    background: #0c2450;
    background: linear-gradient(to top, #0c2450, #081b3b);
    color: rgba(255, 255, 255, 0.78);
}

.layout-tv .formDialogFooter:not(.formDialogFooter-clear) {
    background: transparent;
    color: initial;
}

.itemSelectionPanel {
    border: 1px solid #00a4dc;
}

.selectionCommandsPanel {
    background: #00a4dc;
    color: #fff;
}

.upNextDialog-countdownText,
.stillWatchingDialog-countdownText {
    color: #00a4dc;
}

.alphaPickerButton {
    color: #999;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
}

.alphaPickerButton-selected,
.alphaPickerButton-tv:focus {
    background-color: #00a4dc;
    color: #fff !important;
}

.detailRibbon {
    background-color: #081b3b;
}

.layout-tv .detailRibbon {
    background: none;
}

.noBackdropTransparency .detailPageSecondaryContainer {
    background: linear-gradient(to bottom, #0f3562, #1162a4, #03215f);
    background-color: #0f3562;
    background-attachment: fixed;
}

.detailTableBodyRow-shaded:nth-child(even) {
    background: #1c1c1c;
    background: rgba(0, 0, 0, 0.3);
}

.listItem-border {
    border-color: rgba(0, 0, 0, 0.3) !important;
}

.listItem:focus {
    background: rgba(0, 0, 0, 0.2);
}

.listItem:hover {
    background: rgba(0, 0, 0, 0.4);
}

.progressring-spiner {
    border-color: #00a4dc;
}

.button-flat:hover {
    color: #00a4dc;
}

.button-link {
    color: #00a4dc;
}

.mediaInfoText {
    color: #ddd;
    background: rgba(170, 170, 190, 0.2);
}

.emby-input,
.emby-textarea {
    color: inherit;
    background: rgba(255, 255, 255, 0.2);
    border: 0.16em solid rgba(255, 255, 255, 0.135);
    border-radius: 0.2em;
}

.emby-input:focus,
.emby-textarea:focus {
    border-color: #00a4dc;
}

.emby-select-withcolor {
    color: inherit;
    background: rgba(255, 255, 255, 0.2);
    border: 0.07em solid rgba(255, 255, 255, 0.135);
}

.emby-checkbox:checked + span + .checkboxOutline,
.emby-select-withcolor:focus {
    border-color: #00a4dc;
}

.emby-checkbox:focus + span + .checkboxOutline {
    border-color: #fff;
}

.emby-checkbox:checked + span + .checkboxOutline,
.itemProgressBarForeground {
    background-color: #00a4dc;
}

.emby-checkbox:focus:not(:checked) + span + .checkboxOutline {
    border-color: #00a4dc;
}

.emby-select-withcolor > option {
    color: #000;
    background: #fff;
}

.emby-select-tv-withcolor:focus {
    background-color: #00a4dc;
    color: #fff;
}

.itemProgressBarForeground-recording {
    background-color: #cb272a;
}

.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
    background: #00a4dc;
}

.fullSyncIndicator {
    color: #fff;
}

.mainDrawer {
    background-color: #0f3562;
    color: #ccc;
    color: rgba(255, 255, 255, 0.7);
}

.actionSheetMenuItem:hover,
.navMenuOption:hover {
    background: #252528;
    background: rgba(0, 0, 0, 0.2);
}

.navMenuOption-selected {
    background: #00a4dc !important;
    color: #fff;
}

.emby-button.show-focus:focus {
    background: #00a4dc;
    color: #fff;
}

.emby-tab-button {
    color: #999;
}

.emby-tab-button-active {
    color: #fff;
}

.emby-tab-button.show-focus:focus {
    color: #fff;
}

.emby-tab-button:hover {
    color: #fff;
}

.channelPrograms,
.guide-channelHeaderCell,
.programCell {
    border-color: #999;
    border-color: rgba(255, 255, 255, 0.1);
}

.programCell-sports {
    background: #3949ab !important;
}

.programCell-movie {
    background: #5e35b1 !important;
}

.programCell-kids {
    background: #039be5 !important;
}

.programCell-news {
    background: #43a047 !important;
}

.programCell-active {
    background: rgba(0, 0, 0, 0.3) !important;
}

.guide-channelHeaderCell:focus,
.programCell:focus {
    background-color: #00a4dc !important;
    color: #fff !important;
}

.guide-programTextIcon {
    color: #1e1e1e;
    background: #555;
}

.guide-headerTimeslots {
    color: inherit;
}

.guide-date-tab-button {
    color: #555;
    color: rgba(255, 255, 255, 0.3);
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
    color: #00a4dc;
}

.guide-date-tab-button.show-focus:focus {
    background-color: #00a4dc;
    color: #fff;
}

.infoBanner {
    color: #000;
    background: #fff3a5;
    padding: 1em;
    border-radius: 0.25em;
}

.ratingbutton-icon-withrating {
    color: #c33;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #4285f4;
}

.playstatebutton-icon-played {
    color: #c33;
}

.buttonActive {
    color: #00a4dc !important;
}

.cardBox:not(.visualCardBox) .cardPadder {
    background-color: #0f3562;
}

.cardPadder .cardImageIcon {
    color: rgba(0, 0, 0, 0.4);
}

.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable {
    border-color: #fff !important;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track-piece {
    background-color: #081b3b;
}

.layout-desktop ::-webkit-scrollbar,
.layout-tv ::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
    border-radius: 2px;
    background: center no-repeat rgba(255, 255, 255, 0.7);
}

.metadataSidebarIcon {
    color: #00a4dc;
}
