.btnPlayOrResume {
    padding-right: 12.65px !important;
    padding-left: 12.65px !important;

    * {
        width: 1.1em !important;
        height: 1.1em !important;
        color: rgba(255, 255, 255, 0.8);
    }
}
