<div class="recordingFields hide">
    <div class="recordSeriesContainer recordingFields-buttons flex align-items-center hide">
        <div>
            <button is="emby-button" type="button" class="raised recordingButton seriesRecordingButton">
                <span class="material-icons recordingIcon fiber_smart_record" aria-hidden="true"></span>
                <span class="buttonText">${RecordSeries}</span>
            </button>
        </div>
        <button is="emby-button" type="button" class="button-flat secondaryText manageRecordingButton btnManageSeriesRecording hide">
            <span class="manageButtonText">${SeriesSettings}</span>
        </button>
    </div>

    <div class="recordingFields-buttons flex align-items-center">
        <div>
            <button is="emby-button" type="button" class="raised recordingButton singleRecordingButton">
                <span class="material-icons recordingIcon fiber_manual_record" aria-hidden="true"></span>
                <span class="buttonText">${Record}</span>
            </button>
        </div>
        <button is="emby-button" type="button" class="button-flat secondaryText manageRecordingButton btnManageRecording hide">
            <span class="manageButtonText">${Settings}</span>
        </button>
    </div>
</div>
