.stillWatchingContainer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 28em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: flex-end;
    will-change: transform, opacity;
    transition: opacity 300ms ease-out;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.5em;
    color: #fff;
    user-select: none;
    -webkit-touch-callout: none;

    [dir="ltr"] & {
        margin: 0 2em 2em 0;
    }

    [dir="rtl"] & {
        margin: 0 0 2em 2em;
    }
}

.stillWatchingDialog-hidden {
    opacity: 0;
}

.stillWatchingDialog-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stillWatchingDialog-buttons {
    justify-content: end;
    align-content: flex-end;
}

.stillWatchingDialog-test {
    width: 100%;
    height: 100%;
    background-color: green;
}

.stillWatchingDialog-button {
    background: #404040;
    color: #fff;
}

@media all and (orientation: landscape) {
    .stillWatchingDialog {
        flex-direction: row;
    }
}
