/* start custom css by PeiFeng.Li */
:root {
    --rounding: 0.5em;
    --card-rounding: 0.5em 0.5em 0 0;
    --accent: red;
    --accent-text: #fafafa;
    --accent-icon: #fafafa;
    --accent-indicator: rgba(6, 250, 6, 0.9);
}

::placeholder {
    color: #c8c8c8;
    padding-left: 0.3em;
}

.skinHeader,
html {
    color: #fafafa;
}

.MuiListItem-root,
.MuiListItem-gutters {
    color: #fafafa;
    padding-top: 0.5em;
}

h1 {
    font-size: 1.5em
}

h2 {
    font-size: 1.25em
}

h3 {
    font-size: 1.15em;
}

h1,
h2,
h3 {
    font-weight: 400
}

.wizardStartForm,
.ui-corner-all,
.ui-shadow {
    background-color: #060606;
}

.emby-collapsible-button {
    border-color: #060606;
    border-color: #fafafa22;
}

.pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/banner-light.png);
}

.layout-tv .pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/icon-transparent.png);
}

progress {
    border-radius: 0.5em;
}

progress::-webkit-progress-bar {
    border-radius: 0.5em;
}

progress::-moz-progress-bar {
    border-radius: 0.5em;
}

progress::-webkit-progress-value {
    border-radius: 0.5em;
}

.fab,
.raised {
    border-radius: var(--rounding);
    color: #fafafa;
    background: #060606cc;
}

.fab:focus,
.raised:focus {
    background: #fa77f1;
}

div[data-role=controlgroup] .controlGroupButton.ui-btn-active,
div[data-role=controlgroup] a.ui-btn-active {
    color: #060606 !important;
    background: #fafafa !important;
}

.controlGroupButton,
a[data-role=button] {
    background: #06060633 !important;
}

.alphaPickerButton {
    color: #999999;
    color: #fafafa80;
    background-color: transparent;
}

#btnResetPassword:hover,
#btnRestart:hover,
#btnDeleteImage:hover,
#btnShutdown:hover,
.button-cancel:hover,
.fab:hover,
.raised:hover,
.alphaPickerButton:hover,
.submit:hover,
.btnBrowse:hover,
.mini:hover,
.btnRefresh:hover,
.button-submit:hover,
.viewTabButton:hover,
.button-alt:hover,
.btnOption:hover,
.btnManual:hover,
.block:hover {
    color: #fafafade;
    background: #06b406;
}

.MuiButtonBase-root:hover,
.MuiButton-root:hover,
.MuiButton-contained:hover,
.MuiButton-containedPrimary:hover,
.MuiButton-sizeLarge:hover,
.MuiButton-containedSizeLarge:hover,
.MuiButton-colorPrimary:hover {
    background-color: white;
}

.button-submit:focus {
    background: #fa77f1;
}

.button-delete {
    color: #fafafade;
    background: #f70606;
}

.itemName {
    color: #f1f7ee;
}

.textareaLabel,
.sectionTitle,
.fieldDescription,
.checkboxLabel {
    color: #fafafa;
}

.checkboxLabel {
    color: inherit;
}

/* 输入框文字 */
.selectLabel,
.checkboxLabel,
.checkboxListLabel,
.inputLabel,
.inputLabelUnfocused,
.paperListLabel,
.textareaLabelUnfocused {
    color: #fafafa;
}

.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: #fafafa;
}

.visualCardBox {
    background: #fafafa4d;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.formDialogHeader {
    background-color: #000000;
}

.formDialogHeader-clear {
    background-color: #00000000;
}

.dialog {
    border-radius: var(--rounding) !important;
    background-color: #0606064d;
    box-shadow: 0 0 10px #fafafa;
    -webkit-backdrop-filter: blur(15px) !important;
    -o-backdrop-filter: blur(15px) !important;
    backdrop-filter: blur(15px) !important;
    -moz-backdrop-filterss: blur (15px) !important;
}

.dialog-fixedSize,
.dialog-fullscreen-lowres {
    position: fixed !important;
    margin: 6em 2em !important;
}

.button-accent-flat {
    color: #fafafa !important;
}

.btnHeaderSave {
    box-shadow: 0 0 5px #ffffff;
    border-radius: var(--rounding);
    font-size: 0.8em;
}

.btnHeaderSave:hover {
    box-shadow: 0 0 5px #ffffff;
    color: #060606 !important;
    background-color: #fafafa;
}

.headerTop {
    padding: 0 0.5em;
}

.libraryPage:not(.noSecondaryNavPage) {
    padding-top: 8em !important;
}

.padded-top {
    padding-top: 0.5em;
}

.MuiToolbar-root,
.MuiToolbar-gutters,
.MuiToolbar-dense.headerTop {
    padding: 0 0.5em;
}

.layout-tv .formDialogFooter:not(.formDialogFooter-clear) {
    background: #fafafa;
}

.defaultCardBackground1 {
    background-color: #26fa814d;
}

.defaultCardBackground2 {
    background-color: #f098984d;
}

.defaultCardBackground3 {
    background-color: #90c4fa4d;
}

.defaultCardBackground4 {
    background-color: #e49cfa4d;
}

.defaultCardBackground5 {
    background-color: #fad06c4d;
}

.cardText-secondary,
.fieldDescription,
.guide-programNameCaret,
.secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
    color: #fafafa;
}

.actionsheetDivider {
    background: #444444;
    background: #fafafa26;
}

.cardFooter-vibrant .cardText-secondary {
    opacity: 0.5;
    color: inherit;
}

.toast {
    color: #fafafae6;
    background: #303030;
}

.appfooter,
.playlistSectionButton {
    color: #cccccc;
    color: #fafafac7;
    background: #06256f;
}

@supports (backdrop-filter:blur(10px)) or (-webkit-backdrop-filter:blur(10px)) {
    .appfooter {
        background: #06256fb3;
        backdrop-filter: blur(15px);
    }
}

.itemSelectionPanel {
    border: 1px solid #48c3c8;
}

.selectionCommandsPanel {
    color: #f8f8fe;
    background: #48c3c8;
}

.upNextDialog-countdownText {
    color: #48c3c8;
}

.alphaPickerButton-selected {
    color: #0ce8d6;
}

.alphaPickerButton-tv:focus {
    color: #f8f8fe !important;
    background: #0ce8d6;
}

.layout-tv .detailRibbon {
    background: none;
}

.detailTableBodyRow-shaded:nth-child(even) {
    background: #fafafa;
}

.listItem-border {
    border-color: #fafafa00 !important;
}

.listItem {
    border-radius: var(--rounding);
}

.listItem:focus {
    background: #fafafa;
}

.listItem:hover {
    box-shadow: 0 0 10px #fafafa;
    background-color: #06060633;
}

.actionSheetMenuItem {
    color: #fafafa;
}

.actionSheetMenuItem:hover {
    color: #060606;
    background: #fafafa;
    box-shadow: unset;
}

.progressring-spiner {
    border-color: #fafafa99;
}

.mediaInfoText {
    color: #f8f8fe;
    background: #aaaabe33;
}

.emby-input:focus,
.emby-textarea:focus {
    border-color: #fa8000;
}

.emby-checkbox:checked+span+.checkboxOutline {
    border: 0.14em solid #48c3c8;
    background-color: #030322;
}

.emby-checkbox:checked+span+.checkboxOutline>.checkboxIcon-checked {
    color: #fafafa;
}

.emby-checkbox:focus+span+.checkboxOutline {
    border-color: #06b406;
}

.emby-checkbox:focus:not(:checked)+span+.checkboxOutline {
    border: 0.14em solid #06b406;
}

.itemProgressBarForeground-recording {
    background-color: #cb272a;
}

.countIndicator,
.mediaSourceIndicator,
.playedIndicator {
    background: var(--accent-indicator) !important;
    box-shadow: 0 0 5px #ffffff;
}

.fullSyncIndicator {
    color: #fafafa;
}

.drawer-open {
    background-color: #060606;
}

.navMenuOption {
    margin: 0 0.5em !important;
    border-radius: var(--rounding) !important;
}

.navMenuOption:hover {
    background: #fafafa;
    box-shadow: 0 0 5px #ffffff;
    color: #060606;
}

.navMenuOption-selected {
    border-radius: var(--rounding) !important;
    color: #060606;
    background: #fafafa !important;
}

.emby-button.show-focus:focus {
    color: #fafafa;
    background: #06b406;
}

.mdl-radio.show-focus .mdl-radio__button:focus+.mdl-radio__circles svg .mdl-radio__outer-circle,
.mdl-radio.show-focus .mdl-radio__button:focus+.mdl-radio__circles svg .mdl-radio__inner-circle {
    color: #fa77f1;
}

.mdl-radio.show-focus .mdl-radio__button:focus+.mdl-radio__circles .mdl-radio__focus-circle {
    background: #06a4dc;
}

.emby-tab-button {
    color: #fafafae6;
    border-radius: 2em;
    line-height: 2em;
    margin: 1em 0.5em;
    min-width: 5em;
    padding: 0em 0em;
    box-shadow: 0 0 5px #ffffff;
}

.emby-tab-button-active {
    color: #060606 !important;
    background-color: #fafafa;
    box-shadow: 0 0 5px #ffffff;
}

.emby-tab-button.show-focus:focus {
    color: #060606 !important;
    background-color: #fafafa;
    box-shadow: 0 0 5px #ffffff;
}

.emby-tab-button:hover {
    color: #060606 !important;
    background-color: #fafafa;
    box-shadow: 0 0 5px #ffffff;
}

.channelPrograms,
.guide-channelHeaderCell,
.programCell {
    border-color: #fafafa0d;
}

.programCell-sports {
    background: #3949ab !important;
}

.programCell-movie {
    background: #5e35b1 !important;
}

.programCell-kids {
    background: #039be5 !important;
}

.programCell-news {
    background: #43a047 !important;
}

.programCell-active {
    background: #06060666 !important;
}

.guide-channelHeaderCell:focus,
.programCell:focus {
    color: #fafafa !important;
    background-color: #48c3c8 !important;
}

.guide-programTextIcon {
    color: #bababa;
    background: #555555;
}

.guide-headerTimeslots {
    color: inherit;
}

.guide-date-tab-button {
    color: #555555;
    color: #fafafa4d;
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
    color: #fa77f1;
}

.guide-date-tab-button.show-focus:focus {
    color: #fafafa;
    background-color: #48c3c8;
}

.infoBanner {
    padding: 1em;
    border-radius: 0.25em;
    color: #0e0f2d;
    background: #dbe6fa;
}

.ratingbutton-icon-withrating {
    color: var(--accent);
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #4285f4;
}

.playstatebutton-icon-played {
    color: var(--accent);
}

.buttonActive {
    color: #060606 !important;
    box-shadow: 0 0 30px #fafafa inset;
}

.mediaButton {
    font-size: 100%;
    margin: 0 0.2em;
}

.cardBox:not(.visualCardBox) .cardPadder {
    border-radius: var(--card-rounding);
    background-color: #06060680;
}

.cardPadder .cardImageIcon {
    color: #06060680;
}

.card.show-focus:not(.show-animation) .cardBox.visualCardBox,
.card.show-focus:not(.show-animation) .cardBox:not(.visualCardBox) .cardScalable {
    border-radius: var(--card-rounding) !important;
}

.layout-desktop,
.scrollY {
    scrollbar-width: thin;
    scrollbar-color: #888888 #3b3b3b80;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0606064d;
}

::-webkit-scrollbar-track-piece {
    background-color: #3b3b3b80;
}

.layout-desktop ::-webkit-scrollbar,
.layout-tv ::-webkit-scrollbar {
    width: 0.4em;
    height: 1em;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
    border-radius: 2px;
    background: center no-repeat #888888;
}

.timeslotHeaders-desktop::-webkit-scrollbar {
    height: 0.7em;
}

.mediaInfoOfficialRating {
    border: 0.09em solid #583fa0;
    color: #0e0f2d;
    background-color: #dbe6fa;
}

.metadataSidebarIcon {
    color: #dbe6fa;
}

.personCard .overflowPortraitCard {
    width: 40vw;
}

/* 隐藏请登录字样 */
#loginPage h1 {
    display: none;
}

/* 隐藏登录忘记密码 */
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {
    display: none;
}

/* 服务器登录页面添加适量上间距 */
.standalonePage {
    padding-top: 10em !important;
}

/* 登录页面 */
#loginPage .readOnlyContent,
#loginPage form {
    width: 60%;
    min-width: 20em;
    max-width: 35em;
    padding: 1em;
    border-radius: var(--rounding);
    background: #0606064d;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

/* 删除“我的媒体”部分标题 */
.section0 .sectionTitle {
    display: none;
}

/* 选择栏透明 */
.emby-select-withcolor {
    padding-left: 5px !important;
    border: 0.07em solid transparent;
    border-radius: var(--rounding);
    color: inherit;
    background: #06060633;
}

.emby-select-withcolor>option {
    color: inherit;
    background: #030322d7;
}

.emby-select-withcolor:focus {
    border-color: #88af1e !important;
}

.emby-select-tv-withcolor:focus {
    color: #fafafa !important;
    background-color: #88af1e !important;
}

/* 隐藏同步播放按钮 */
.headerSyncButton {
    display: none;
}

/* 隐藏投屏按钮 */
.headerCastButton {
    display: none;
}

/* 隐藏频道数字 */
.guideChannelNumber {
    display: none;
}

/* start 透明顶部背景 */
.skinHeader-withBackground {
    background: none;
    padding-top: 0.5em;
}

.skinHeader.semiTransparent {
    background: none;
    padding-top: 0.5em;
}

.layout-tv .skinHeader.semiTransparent {
    background: none;
    padding-top: 0.5em;
}

/* end 透明顶部背景 */

/* 隐藏预告片 */
.emby-tab-button[data-index="2"] {
    display: none !important;
}

/* 隐藏预告片按钮 */
.btnPlayTrailer {
    display: none;
}

.actionSheet {
    padding: 1em;
}

/* 影片详情页标题栏透明 */
.detailRibbon {
    background: #06060633;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

/* 海报图文字上下间距微调 */
.cardText-first {
    padding-top: 0.1em;
    padding-bottom: 0.24em;
}

/* 按钮圆角 */
.emby-button.block {
    border-radius: var(--rounding);
}

/* 按钮颜色 */
#btnDeleteImage,
.submit,
.btnBrowse,
.mini,
.btnRefresh,
.btnManual,
.button-submit,
.viewTabButton,
.button-alt,
.btnOption {
    border-radius: var(--rounding);
    background: #13dae0bf;
}

/* 鼠标hover颜色 */
#ƒ:hover,
#btnRestart:hover,
#btnDeleteImage:hover,
#btnShutdown:hover,
.button-cancel:hover,
.fab:hover,
.raised:hover,
.alphaPickerButton:hover,
.submit:hover,
.btnBrowse:hover,
.mini:hover,
.btnRefresh:hover,
.button-submit:hover,
.viewTabButton:hover,
.button-alt:hover,
.btnOption:hover,
.btnManual:hover,
.block:hover {
    color: #060606;
    background: #fafafa;
    box-shadow: 0 0 5px #ffffff;
}

/* 输入框圆角 */
.emby-input,
.emby-textarea {
    color: #fafafa;
    border: 0.1em solid transparent;
    border-radius: var(--rounding);
    padding: 0.5em;
    background: #06060633;
}

.MuiSwitch-switchBase {
    color: #fa8d52 !important;
}

.MuiSwitch-track {
    background-color: #fafafa !important;
}

/* 勾选框 */
.checkboxOutline {
    border-color: #fafafa;
    border-radius: var(--rounding);
}

.emby-checkbox:checked+span+.checkboxOutline {
    border: 0.14em solid #fafafa;
    background-color: transparent;
}

/* 音乐播放器 */
.nowPlayingPlaylist,
.nowPlayingContextMenu {
    border-radius: var(--rounding) !important;
    background-color: #fafafa1a;
    -webkit-backdrop-filter: blur(15px) !important;
    -o-backdrop-filter: blur(15px) !important;
    backdrop-filter: blur(15px) !important;
    -moz-backdrop-filterss: blur (15px) !important;
}

/* 移动端音乐播放器 */
.layout-mobile .playlistSection .contextMenu,
.layout-mobile .playlistSection .playlist {
    position: absolute;
    z-index: 1000;
    top: 16em;
    right: 0;
    bottom: 4.2em;
    left: 0;
    display: inline-block;
    overflow: auto;
    padding: 0 1em;
}

/* 歌词字体大小 */
.lyricsLine {
    font-size: 26px;
}

.listItemImage {
    border-radius: var(--rounding);
}

.cardOverlayContainer {
    border-radius: var(--rounding) !important;
}

.card-hoverable:hover .cardOverlayContainer {
    -webkit-border-radius: var(--card-rounding) !important;
    -moz-border-radius: var(--card-rounding) !important;
    -ms-border-radius: var(--card-rounding) !important;
    -o-border-radius: var(--card-rounding) !important;
    border-radius: var(--card-rounding) !important;
}

a.listItem-border {
    border-radius: var(--rounding);
}

.cardScalable,
.cardImage,
.visualCardBox .cardContent,
.sessionNowPlayingInnerContent,
.cardImageContainer,
.blurhash-canvas,
.cardPadder {
    border-radius: var(--card-rounding);
}

.headerButton {
    box-shadow: 0 0 5px #ffffff;
    border-radius: var(--rounding) !important;
    margin: 0.3em;
}

.card:hover .cardBox,
.card:focus .cardBox {
    background: #06060680;
    box-shadow: unset;
}

.cardBox {
    border-radius: var(--rounding) !important;
    background: #0606064d;
    transition: background 0.15s ease-out, box-shadow 0.15s ease-out;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.paper-icon-button-light>.material-icons {
    font-size: 1.5em !important;
}

.material-icons {
    font-size: 1.5em !important;
}

.searchfields-icon {
    font-size: 2.5em !important;
    margin-bottom: 0em;
}

.listItemIcon.material-icons {
    background: unset;
    -webkit-background-clip: text;
    background-clip: text;
    color: unset;
}

.dashboardSection .sectionTitleTextButton>.material-icons {
    margin-left: 0.5em;
}

span.material-icons.detailButton-icon.check.playstatebutton-icon-played,
span.material-icons.detailButton-icon.favorite.ratingbutton-icon-withrating {
    color: transparent;
    background: var(--accent);
    -webkit-background-clip: text;
    background-clip: text;
}

.listItemImageButton-icon {
    padding: 0;
}

.navMenuOptionIcon {
    transition: margin 0.2s ease-in-out;
    font-size: 1.5rem !important;
}

.paper-icon-button-light:active:not(:disabled) {
    color: #fafafa;
    background-color: #fafafa80;
}

.paper-icon-button-light.show-focus:focus {
    color: #fa77f1;
}

.headerButton.headerButtonRight.paper-icon-button-light.headerUserButtonRound:hover {
    box-shadow: 0 0 5px #fafafa !important;
}

.paper-icon-button-light {
    border-radius: var(--rounding);
}

@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: #060606;
        background-color: #fafafa !important;
        box-shadow: 0 0 5px #ffffff;
    }
}

.detailButton {
    padding: 0.5em !important;
    margin: 0 0.3em !important;
    border-radius: var(--rounding);
    box-shadow: 0 0 5px #ffffff;
}

.detailButton:hover {
    color: #060606;
    background-color: #fafafa;
    box-shadow: 0 0 5px #ffffff;
}

.cardOverlayButton,
.cardOverlayButtonIcon,
.cardOverlayButton-hover {
    border-radius: 50% !important;
}

.cardOverlayButtonIcon-hover {
    background-color: #fafafa !important;
    color: #06fa06;
}

.layout-mobile .cardOverlayButtonIcon {
    background-color: rgba(6, 250, 6, 0.8) !important;
    color: #ffffff;
}

.layout-mobile .cardOverlayButtonIcon-hover {
    background-color: #fafafa !important;
    color: #06fa06;
}

.cardOverlayContainer>.cardOverlayFab-primary {
    background-color: #00ff001a !important;
    box-shadow: 0 0 10px rgb(0, 255, 0);
    border-radius: 50%;
}

.cardOverlayContainer>.cardOverlayFab-primary:hover {
    color: #ffffff;
    background-color: #00ff001a !important;
    box-shadow: 0 0 10px rgb(0, 255, 0);
    border-radius: 50%;
    transform: scale(1.4);
    transition: .2s;
}

.btnCardOptions {
    right: 0.5em;
    bottom: 0.5em;
    font-size: 0.8em;
}

.layout-mobile .detailImageContainer .card,
.layout-mobile .detailImageContainer .card.backdropCard,
.layout-mobile .detailImageContainer .card.squareCard {
    border-radius: var(--rounding);
}

.detailImageContainer .card,
.detailImageContainer .card.backdropCard,
.detailImageContainer .card.squareCard {
    border-radius: var(--rounding);
}

.detailImageContainer .card {
    box-shadow: 0 0 10px #fafafa;

    .layout-mobile & {
        filter: drop-shadow(0 0 0rem #060606);
    }
}

/* 图片背景 */
.itemBackdrop {
    height: 50vh !important;
    margin-top: 4.5rem;
    background-position: center;
}

.layout-mobile .itemBackdrop {
    margin-top: 4.5rem;
    background-position: center;
}

.layout-tv .itemBackdrop {
    display: unset;
}

/* start 影片LOGO */
.detailLogo {
    position: absolute;
    top: 10vh;
    right: 25vw;
    width: 31vw;
    height: 22vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.layout-mobile,
.layout-tv {
    .detailLogo {
        top: 20%;
        right: 25%;
        display: unset;
        width: 30%;
    }
}

/* end 影片LOGO */

/* 海报右下角图标稍微上移以适应播放进度条 */
.cardOverlayButton-br {
    margin: 0.3em;
}

/* 播放进度条 */
.itemProgressBarForeground {
    background-color: #00fa00cc;
}

.dialogBackdropOpened {
    opacity: 0;
}

/* 背景模糊 */
#itemDetailPage .listItem-content {
    overflow: hidden;
    flex-flow: column;
    border-radius: var(--rounding);
    background: #fafafa4d;
    -webkit-transition: background 0.15s ease-in-out;
    -moz-transition: background 0.15s ease-in-out;
    -ms-transition: background 0.15s ease-in-out;
    -o-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.dashboardDocument .metadataEditorPage {
    padding-top: 4rem !important;
}

.editPageSidebar,
.editPageSidebar-withcontent {
    padding-top: 1em;
    width: 25%;
}

@media (min-width:50em) {
    .editPageInnerContent {
        width: 75%;
    }
}

.formDialogFooterItem {
    margin: 0.5em !important;
    max-width: 100%;
}

.mainDrawer {
    width: 240px !important;
    color: #fafafa;
    background: #fafafa1a !important;
    background-color: #fafafa1a;
    box-shadow: none;
    -webkit-transition: all 0.2s !important;
    -moz-transition: all 0.2s !important;
    -ms-transition: all 0.2s !important;
    -o-transition: all 0.2s !important;
    transition: all 0.2s !important;
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -o-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.upNextDialog {
    box-shadow: 0 0 5px #ffffff;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

/* Music Player */
.appfooter,
.playlistSectionButton {
    background: transparent !important;
}

.playerStats {
    color: #fafafa80;
    background: #06060680;
    box-shadow: 0 0 5px #ffffff;
}

.backdropImage {
    -webkit-filter: blur(5px) saturate(110%) contrast(110%) brightness(80%);
    filter: blur(5px) saturate(110%) contrast(110%) brightness(80%);
}

.backgroundContainer.withBackdrop {
    opacity: 0;
}

/* 登录页面背景图 */
#loginPage {
    background-image: url("../../assets/img/isweetav-bg.svg");
    background-size: cover;
}

/* 详情页背景图 */
.noBackdropTransparency .detailPageSecondaryContainer {
    background-image: url("../../assets/img/isweetav-bg.svg");
    background-attachment: fixed;
    background-size: cover;
}

/* 背景图 */
.backgroundContainer {
    background-image: url("../../assets/img/isweetav-bg.svg");
    background-size: cover;
}

/* 后台左侧面板 */
.MuiDrawer-paper {
    overflow: auto;
    width: 240px !important;
    color: #fafafa;
    background: #0606064d;
    background-image: unset;
    box-shadow: unset;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.MuiListItemText-primary,
.MuiListItemText-secondary,
.MuiListSubheader-root,
.MuiListSubheader-gutters,
.MuiListSubheader-sticky {
    color: #fafafa;
}

/* 后台左侧面板已选择项 */
.Mui-selected {
    background-color: #06060633 !important;
    margin: 0 0.8em 0 0.5em;
    border-radius: var(--rounding);
    box-shadow: 0 0 5px #ffffff;
}

.MuiListItemIcon-root {
    color: #fafafa;
}

.MuiListItemIcon-root:hover {
    color: #060606;
}

.MuiIconButton-root,
.MuiIconButton-colorInherit,
.MuiIconButton-sizeLarge {
    margin: 0 0.5em;
    border-radius: var(--rounding);
    box-shadow: 0 0 5px #ffffff;
}

.MuiIconButton-root:hover,
.MuiIconButton-colorInherit:hover,
.MuiIconButton-sizeLarge:hover {
    background-color: #fafafa !important;
    color: #060606;
    box-shadow: 0 0 10px #fafafa;
}

.MuiListItemButton-root,
.MuiListItemButton-gutters,
.MuiListItemButton-root,
.MuiListItemButton-gutters {
    margin: 0 0.5em;
}

/* 后台左侧面板鼠标hover */
.MuiListItemButton-root:hover,
.MuiListItemButton-gutters:hover,
.MuiListItemButton-root:hover,
.MuiListItemButton-gutters:hover {
    margin: 0 0.5em;
    border-radius: var(--rounding);
    box-shadow: 0 0 5px #ffffff;
    background-color: #06060633 !important;
}

.MuiMenuItem-root:hover,
.MuiMenuItem-gutters:hover {
    border-radius: var(--rounding);
    box-shadow: 0 0 5px #ffffff;
    background-color: #06060633;
}

/* 头像 */
.MuiAvatar-root,
.MuiAvatar-circular {
    border-radius: 0.5em !important;
    background-color: #fafafa;
}

.headerButton.headerButtonRight.paper-icon-button-light.headerUserButtonRound {
    border-radius: 2em !important;
    background-color: #fafafa;
}

.itemProgressBar {
    background: #06060600;
    height: .15em;
}

.headerButton {
    margin: 0.5em;
    box-shadow: 0 0 5px #ffffff;
}

/* 顶部横条 */
.MuiPaper-root,
.MuiPaper-elevation {
    background-color: unset;
    background-image: none;
    width: 100%;
    padding: 0.3em 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.MuiPaper-rounded,
.MuiPaper-elevation2 {
    overflow: hidden !important;
    width: 100% !important;
    background: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.content-primary {
    padding-top: 4em !important;
}

/* 隐藏左侧不可见 */
.MuiBackdrop-invisible {
    display: none;
}

/* 后台服务器信息栏 */
.serverInfo {
    border-radius: var(--rounding);
    background: #fafafa4d;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

/* 后台服务器活动栏 */
.userActivityItems,
.activityLogListWidget {
    border-radius: var(--rounding);
    background: #0606064d;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.paperList {
    border-radius: var(--rounding);
    background: #06060633;
}

.MuiPaper-elevation8,
.MuiPopover-paper,
.MuiMenu-paper,
.MuiMenu-paper {
    top: 50px !important;
    overflow: auto;
    width: 200px !important;
    border-radius: var(--rounding);
    color: #fafafa;
    background: #0606064d;
    background-image: unset;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 0 0.5em;
}

.MuiBackdrop-root,
.MuiModal-backdrop {
    overflow: auto;
    width: 240px;
    color: #fafafa;
    background: #06060626;
}

/* 播放按钮 */
.btnPlay {
    background-color: #fafafa;
    color: #fa0606;
    border-radius: var(--rounding) !important;
    min-width: 5em !important;
    margin: 0 0.5em !important;
}

.btnPlay:hover {
    background-color: #06fa06;
    color: #fafafa;
    box-shadow: 0 0 5px #ffffff;
}

/* 外部播放器按钮 */
.btnPlay-infuse,
.btnPlay-pot,
.btnPlay-nplayer,
.btnPlay-vlc,
.btnPlay-iina {
    box-shadow: 0 0 5px #ffffff;
    margin: 0.5em !important;
    min-width: 4em;
}

.btnPlay-infuse:hover,
.btnPlay-pot:hover,
.btnPlay-nplayer:hover,
.btnPlay-vlc:hover,
.btnPlay-iina:hover {
    background-color: #fafafa;
    box-shadow: 0 0 5px #ffffff;
}

.detailPageSecondaryContainer {
    padding-top: 0em !important;
}

.itemsContainer>.card>.cardBox {
    margin: 0.5em !important;
}

.itemsContainer>.card>.cardBox:hover {
    box-shadow: 0 0 5px #ffffff;
}

.MuiTableRow-root {
    background-color: #0606061a !important;
}

.MuiTableRow-head {
    background-color: #0606064d !important;
}

@media (min-width: 35em) {
    .detailButton {
        padding-left: 0.75em !important;
        padding-right: 0.75em !important;
    }
}

/* Mobile 设备标题栏稍微右移 */
@media (min-width:43.75em) {
    .layout-mobile [dir=ltr] .infoWrapper {
        padding-left: 31% !important;
    }
}

@media (min-width: 45em) {
    .detailButton {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }

    .btnPlay {
        margin: 0 1em !important;
    }
}

@media (min-width: 55em) {
    .detailButton {
        padding-left: 1.25em !important;
        padding-right: 1.25em !important;
    }
}

@media (min-width: 60em) {
    .emby-tab-button {
        font-size: medium;
    }
}

@media all and (max-width: 68.75em) {
    .detailLogo {
        display: unset;
    }
}

@media all and (min-width: 80em) {
    .cardOverlayFab-primary {
        background-color: #06060600;
    }

    .cardOverlayButton {
        font-size: 85%;
    }

    .personBackdrop {
        display: none !important;
    }

    .mainDetailButtons {
        margin: 1em 0;
        font-size: 125%;
    }

    .layout-tv .mainDetailButtons {
        margin: 1em 0 1em;
        font-size: 125%;
    }
}

@media all and (max-width: 80em) {
    .cardOverlayButton {
        font-size: 75%;
    }
}

@media all and (min-width: 100em) {
    .emby-tabs-slider {
        padding-top: 1em;
    }

    .emby-tab-button {
        font-size: large;
    }
}

@media (orientation: portrait) and (max-width: 43em) {
    .nowPlayingInfoButtons {
        padding-bottom: 0.5em;
    }
}

/* end custom css */
