.homePageContainer {
    padding-top: 5em !important;
    padding-bottom: 1em !important;
}

.scrollFrameX .scrollSlider {
    white-space: nowrap !important;
}

.itemScrollFrame.scrollFrameX .scrollSlider {
    padding-left: 4.5%;
    padding-bottom: 1.2em;
}

.selectedItemInfoInner {
    display: flex;
    align-items: center;
    align-content: center;
}

.selectedItemInfoLogo {
    margin-right: 1em;
    width: 10em;
    height: 3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selectedItemNameInfo {
    margin-right: 1em;
    font-weight: 400;
    font-size: 1.5em;
}

.selectedItemMediaInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 70%;
}

.homePageContainer .selectedItemInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
}

.horizontalSectionsContainer {
    display: flex;
}

.horizontalSection {
    margin-right: 1.25em;
    flex-shrink: 0;
}

.horizontalSection .sectionTitle {
    font-size: 85%;
    margin-top: 1em;
    padding-left: 1.2em;
}

.homePageContent .squareCard {
    width: 11vw;
    height: 22vh;
}

.homePageContent .backdropCard {
    width: 18vw;
    height: 22vh;
}

.homePageContent .portraitCard {
    width: 11vw;
    height: 32vh;
}

.wideSpotlightCard {
    width: 100%;
}

.wideSpotlightCard .cardImageContainer {
    width: auto !important;
    height: 38.26vh;
}

.guideCard .cardImageContainer,
.artistsCard .cardImageContainer {
    background: #00a4dc;
}

.songCard .cardImageContainer,
.recordingsCard .cardImageContainer {
    background: #c51d1d;
}

.channelsLiveTvCard .cardImageContainer,
.albumsCard .cardImageContainer {
    background: #92f4369a;
}

.movieGenresCard .cardImageContainer,
.tvGenresCard .cardImageContainer {
    background-color: #009688;
}

.btnTabs {
    position: relative;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0 0.3em;
    text-align: center;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    outline: none !important;
    outline-width: 0;
    user-select: none;
    cursor: pointer;
    z-index: 0;
    padding: 0 1em;
    vertical-align: middle;
    border: 0;
    border-radius: 0.2em;
    font-weight: 600;
    text-decoration: none;
    background: transparent;
    line-height: 1.35;
    transform-origin: center;
    transition: 0.2s;
}

.userViewNames button.selected {
    color: rgb(0, 248, 132);
    opacity: 1;
}

.userViewNames .emby-button.show-focus:focus {
    color: rgb(255, 119, 241);
    background: transparent;
    opacity: 1;
}

.userViewNames {
    overflow: hidden;
}

.userViewNames .scrollFrameX .scrollSlider {
    padding-left: 18.75%;
}

.userViewButtonText {
    font-size: 110%;
}

.innerCardFooter > .cardText {
    font-size: 90%;
}
