.nowPlayingPage {
    padding: 5em 0 0 0 !important;
}

.nowPlayingInfoContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.navigationSection {
    text-align: center;
}

.btnArrowUp {
    border-radius: 40% 40% 10% 10%;
}

.btnArrowLeft {
    border-radius: 40% 10% 10% 40%;
}

.btnArrowRight {
    border-radius: 10% 40% 40% 10%;
}

.btnArrowDown {
    border-radius: 10% 10% 40% 40%;
}

.btnOk {
    border-radius: 10%;
}

.nowPlayingPageTitle {
    margin: 0 0 0.5em 0.5em;
}

.nowPlayingAlbum a,
.nowPlayingArtist a {
    font-weight: normal;
    text-align: left !important;
    color: inherit !important;
}

.nowPlayingButtonsContainer {
    display: flex;
}

.infoContainer,
.sliderContainer {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.nowPlayingInfoContainerMedia {
    text-align: left;
    margin-bottom: 1em;
}

.nowPlayingPositionSlider {
    width: stretch;
}

.nowPlayingPositionSliderContainer {
    margin: 0.2em 1em 0.2em 1em;
    width: 100%;
    z-index: 0;
}

.nowPlayingInfoButtons {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.nowPlayingInfoControls,
.nowPlayingTime {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
}

.nowPlayingPageImageContainer {
    width: 16%;
    margin-right: 1em;
    position: relative;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.nowPlayingPageImageContainerNoAlbum {
    width: 100%;
    position: relative;
}

.nowPlayingPageImageContainerNoAlbum button {
    cursor: default;
}

.nowPlayingPageImageContainerNoAlbum::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.btnPlayPause {
    font-size: xx-large;
    padding: 0;
    margin: 0;
}

.nowPlayingInfoControls {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.nowPlayingPageImage {
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    -webkit-box-shadow: 0 0 1.9vh #000;
    box-shadow: 0 0 1.9vh #000;
    border: 0.1em solid #222;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.contextMenuList {
    padding: 1.5em 0;
}

.contextMenuList a {
    color: inherit !important;
}

.contextMenuList .material-icons.listItemIcon {
    font-size: x-large;
}

.nowPlayingSecondaryButtons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    z-index: 0;
}

.layout-mobile .playlistSectionButtonTransparent {
    background: rgba(0, 0, 0, 0) !important;
}

.layout-mobile .playlistSection .playlist,
.layout-mobile .playlistSection .contextMenu {
    position: absolute;
    top: 12.2em;
    bottom: 4.2em;
    overflow: scroll;
    padding: 0 1em;
    display: inline-block;
    left: 0;
    right: 0;
    z-index: 1000;
}

.layout-mobile .playlistSectionButton {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4.2em;
    right: 0;
    padding-left: 7.3%;
    padding-right: 7.3%;
}

.layout-desktop .playlistSectionButton,
.layout-tv .playlistSectionButton {
    background: none;
}

.layout-desktop .nowPlayingPlaylist,
.layout-tv .nowPlayingPlaylist {
    background: none;
}

.layout-mobile .playlistSectionButton .btnTogglePlaylist {
    font-size: larger;
    margin: 0;
}

.layout-mobile .playlistSectionButton .btnSavePlaylist {
    margin: 0;
    border-radius: 0;
}

.layout-mobile .playlistSectionButton .volumecontrol {
    margin: 0;
    padding-right: 0;
    border-radius: 0;
}

.layout-mobile .playlistSectionButton .btnToggleContextMenu {
    font-size: larger;
    margin: 0;
}

.layout-mobile .nowPlayingSecondaryButtons .volumecontrol {
    display: none;
}

.layout-desktop .nowPlayingInfoButtons .btnRepeat,
.layout-tv .nowPlayingInfoButtons .btnRepeat {
    display: none;
}

.layout-desktop .nowPlayingInfoButtons .btnShuffleQueue,
.layout-tv .nowPlayingInfoButtons .btnShuffleQueue {
    display: none;
}

.layout-desktop .playlistSectionButton .volumecontrol,
.layout-tv .playlistSectionButton .volumecontrol {
    display: none;
}

.nowPlayingInfoControls .nowPlayingPageUserDataButtonsTitle {
    display: none;
}

.layout-mobile .nowPlayingPageUserDataButtons {
    display: none;
}

@media all and (min-width: 63em) {
    .nowPlayingPage {
        padding: 8em 0 0 0 !important;
    }
}

@media all and (min-width: 80em) {
    .nowPlayingPageImageContainer {
        margin-right: 0.75em;
    }
}

@media all and (orientation: portrait) and (max-width: 43em) {
    .remoteControlContent {
        padding-left: 7.3% !important;
        padding-right: 7.3% !important;
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .layout-desktop .nowPlayingPageUserDataButtons {
        display: none;
    }

    .nowPlayingInfoContainer {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -webkit-flex-direction: column !important;
        flex-direction: column !important;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        width: 100%;
        height: calc(100% - 4.2em);
    }

    .nowPlayingPageTitle {
        /* text-align: center; */
        margin: 0;
    }

    .nowPlayingAlbum,
    .nowPlayingArtist {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .nowPlayingInfoContainerMedia {
        text-align: left !important;
        width: 80%;
    }

    .nowPlayingPositionSliderContainer {
        margin: 0.2em 1em 0.2em 1em;
    }

    .nowPlayingInfoButtons {
        /* margin: 1.5em 0 0 0; */
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        font-size: x-large;
        height: 100%;
    }

    .nowPlayingPageImageContainer {
        width: 100%;
        margin: auto auto 0.5em;
    }

    .nowPlayingPageImageContainerNoAlbum .cardImageContainer .cardImageIcon {
        font-size: 15em;
        color: inherit;
    }

    .nowPlayingInfoControls {
        margin: 0.5em 0 1em 0;
        width: 100%;
        -webkit-box-pack: start !important;
        -webkit-justify-content: start !important;
        justify-content: start !important;
    }

    .nowPlayingSecondaryButtons {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .nowPlayingInfoControls .nowPlayingPageUserDataButtonsTitle {
        width: 20%;
        font-size: large;
        display: unset;
    }

    .nowPlayingInfoControls .nowPlayingPageUserDataButtonsTitle button {
        padding-top: 0;
        padding-right: 0;
        margin-right: 0;
        float: right;
        border-radius: 0;
    }

    .nowPlayingInfoButtons .btnRepeat,
    .nowPlayingInfoButtons .btnRewind {
        position: absolute;
        left: 0;
        margin-left: 0;
        padding-left: 7.3%;
        font-size: smaller;
    }

    .nowPlayingInfoButtons .btnShuffleQueue,
    .nowPlayingInfoButtons .btnFastForward {
        position: absolute;
        right: 0;
        margin-right: 0;
        padding-right: 7.3%;
        font-size: smaller;
    }

    .paper-icon-button-light {
        background-color: transparent !important;
    }

    .btnPlayPause {
        padding: 0;
        margin: 0;
        font-size: 1.7em;
    }

    .nowPlayingPageImage {
        /* width: inherit; */
        overflow-y: hidden;
        overflow: hidden;
        margin: 0 auto;
    }

    .nowPlayingPageImage.nowPlayingPageImageAudio {
        width: 100%;
    }

    .nowPlayingPageImageContainer.nowPlayingPageImagePoster {
        height: 50%;
        overflow: hidden;
    }

    .nowPlayingPageImageContainer.nowPlayingPageImagePoster img {
        height: 100%;
        width: auto;
    }

    .playlistSectionButton .volumecontrol {
        width: 100%;
    }

    .remoteControlSection {
        margin: 4.2em 0 0 0;
        padding: 0 0 4.2em 0;
    }

    .nowPlayingButtonsContainer {
        display: flex;
        height: 100%;
        flex-direction: column;
    }
}

.nowPlayingTime {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 1em;
}

.nowPlayingNavButtonContainer {
    width: 30em;
}

.smallBackdropPosterItem .cardOverlayInner > div {
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.playlistIndexIndicatorImage {
    -webkit-background-size: initial initial !important;
    background-size: initial !important;
    background-image: url(../../assets/img/equalizer.gif) !important;
}

.playlistIndexIndicatorImage > * {
    display: none;
}

.hideVideoButtons .videoButton {
    display: none;
}

.nowPlayingVolumeSliderContainer {
    width: 9em;
}

@media all and (max-width: 63em) {
    .nowPlayingInfoButtons .playlist .listItemMediaInfo,
    .nowPlayingInfoButtons .btnStop {
        display: none !important;
    }

    .navigationSection .collapseContent .material-icons {
        font-size: 4em;
    }
}
