.emby-input {
    display: block;
    margin: 0;
    margin-bottom: 0 !important;
    font-family: inherit;
    font-weight: inherit;
    padding: 0.4em 0.25em;

    /* must the 16px or larger to prevent iOS page zoom on focus */
    font-size: 110%;

    /* prevent padding from causing width overflow */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
}

.emby-input::-moz-focus-inner {
    border: 0;
}

.emby-input:required {
    box-shadow: none;
}

.inputContainer {
    margin-bottom: 1.8em;
}

.inlineForm {
    display: flex;
}

.inlineForm .inputContainer,
.inlineForm .selectContainer {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 0.5em 1.8em;
}

.inlineForm .inputContainer:first-child,
.inlineForm .selectContainer:first-child {
    margin-left: 0;
}

.inlineForm .inputContainer:last-child,
.inlineForm .selectContainer:last-child {
    margin-right: 0;
}

.inputLabel {
    display: inline-block;
    margin-bottom: 0.25em;
}

.emby-input + .fieldDescription {
    margin-top: 0.25em;
}

.emby-input-iconbutton {
    -webkit-align-self: flex-end;
    align-self: flex-end;
}
